<div style="display: flex;align-items: center;justify-content: center;" class="h-100">
  <div class="row w-50">
    <div class="col-12"><img [src]="logoUrl" style="width: 20%;"></div>
    <h4 class="col-12 mt-4"><b>We will not be able to continue</b></h4>
    <p class="col-12 text-left">Your browser is currently set to block cookies. You need to allow cookies to use this
      service.
      Cookies are small text files stored on your computer that tell us when you're signed in. To learn how to allow
      cookies, check the online help in your web browser.</p>
    <p class="col-12 text-center">Once your cookies are enabled you can try again below.</p>
    <p class="col-12 text-center"><button (click)="goToLogin()" style="margin: 0 auto;"
        class="btn btn-sm btn-green-primary">Retry</button>
    </p>
  </div>
</div>