<mat-card-title>Note</mat-card-title>
<span class="" style="position:absolute; right: 10px; left: auto;top: 10px;" (click)="close(false)">
  <mat-icon>close</mat-icon>
</span>

<ng-container>

  <mat-form-field>
    <textarea class="anu-input" matInput #inputMessage></textarea>
  </mat-form-field>
  <mat-expansion-panel [expanded]="false" class="mb-3 grants-expansion-panel" *ngIf="disbursementDiff">
    <mat-expansion-panel-header class="grant-expansion-panel" style="padding: 15px;">
      <mat-panel-title style="display: flex; align-items: center">
        <small>View changes</small>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="disbursementDiff" style="background:#fff;padding:5px;max-height:200px;min-width:600px;overflow:scroll;">
      <div *ngIf="disbursementDiff.oldRequestedAmount || disbursementDiff.newRequestedAmount" class="mb-2 change-box">
        <span class="change-title">Requested Amount changed</span>
        <div class="change-new" *ngIf="disbursementDiff.newRequestedAmount">
          {{currencyService.getFormattedAmount(disbursementDiff.newRequestedAmount)}}</div>
        <div *ngIf="disbursementDiff.newRequestedAmount && !disbursementDiff.oldRequestedAmount" class="text-danger">
          <i><small>No value</small></i></div>
        <div class="change-old" *ngIf="disbursementDiff.oldRequestedAmount">
          {{currencyService.getFormattedAmount(disbursementDiff.oldRequestedAmount)}}</div>
        <div *ngIf="disbursementDiff.oldRequestedAmount && !disbursementDiff.newRequestedAmount" class="text-white">
          <i><small>Previously had no value</small></i></div>
      </div>
      <div *ngIf="disbursementDiff.oldReason || disbursementDiff.newReason" class="mb-2 change-box">
        <span class="change-title">Approval Request Commentary changed</span>
        <div class="change-new" *ngIf="disbursementDiff.newReason">{{disbursementDiff.newReason}}</div>
        <div *ngIf="!disbursementDiff.newReason && disbursementDiff.oldReason" class="text-danger"><i><small>No
              value</small></i></div>
        <div class="change-old" *ngIf="disbursementDiff.oldReason">{{disbursementDiff.oldReason}}</div>
        <div *ngIf="!disbursementDiff.oldReason && disbursementDiff.newReason" class="text-white"><i><small>Previously
              had no value</small></i></div>
      </div>
    </div>
  </mat-expansion-panel>

  <button class="btn btn-sm btn-green-primary" (click)="close(true)">Proceed</button>
</ng-container>