<div class="">
    <div class="container-fluid">

        <mat-tab-group>
            <mat-tab label="Roles">
                <div class="row text-left">
                    <div class="col-12 text-left">Roles</div>
                </div>
            </mat-tab>
            <mat-tab label="Users">
                <div class="row text-left">
                    <div class="col-12 text-left">Users</div>
                </div>
            </mat-tab>
            <mat-tab label="Workflow">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-workflow-management></app-workflow-management>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Templates">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-templates></app-templates>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Documents">
                <div class="row text-left">
                    <div class="col-12 text-left">Documents</div>
                </div>
            </mat-tab>
            <mat-tab label="Library">
                <div class="row text-left">
                    <div class="col-12 text-left">Library</div>
                </div>
            </mat-tab>
            <mat-tab label="Themes">
                <div class="row text-left">
                    <div class="col-12 text-left">Themes</div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
