<div class="">
    <div class="container-fluid">

        <mat-tab-group (focusChange)="tabSelected($event)">
            <mat-tab label="Roles">
                <div class="anu-container text-left mx-0">
                    <app-roles [roles]="roles"></app-roles>

                </div>
            </mat-tab>
            <mat-tab label="Users">
                <div class="anu-container text-left mx-0">
                    <app-users [users]="users" [roles]="roles"></app-users>

                </div>
            </mat-tab>
            

            <mat-tab label="Library">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-document-library [docs]="docs"></app-document-library>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Tag Library">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-org-tags [tags]="tags"></app-org-tags>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="App Configurations" *ngIf="appComp.loggedInUser.organization.organizationType==='GRANTER'">
                <div class="row text-left">
                    <div class="col-12">
                        <app-settings></app-settings>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Workflows (Coming Soon)" *ngIf="appComp.loggedInUser.organization.organizationType==='GRANTER'">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-workflow-management></app-workflow-management>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Templates (Coming Soon)" *ngIf="appComp.loggedInUser.organization.organizationType==='GRANTER'">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-templates></app-templates>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>