<div class="">
    <div class="container-fluid">

        <mat-tab-group>
            <mat-tab label="Roles">
                    <div class="anu-container text-left mx-0">
                        <app-roles></app-roles>

                    </div>
            </mat-tab>
            <mat-tab label="Users">
                <div class="anu-container text-left mx-0">
                    <app-users></app-users>

                </div>
            </mat-tab>
            <mat-tab label="Workflow">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-workflow-management></app-workflow-management>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Templates">
                <div class="row text-left">
                    <div class="col-12 text-left">
                        <app-templates></app-templates>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Library">
                <div class="row text-left">
                    <div class="col-12 text-left">Library</div>
                </div>
            </mat-tab>

            <mat-tab label="Settings">
                <div class="row text-left">
                    <div class="col-12">
                        <app-settings></app-settings>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
