<div class="main-content">
    <div class="container-fluid text-left">
        <mat-form-field>
            <input #tenantName matInput placeholder="Tenant name" class="anu-input">
        </mat-form-field>
        <mat-form-field>
            <input #tenantSlug matInput placeholder="Tenant slug" class="anu-input">
        </mat-form-field>
        <mat-form-field>
            <input #tenantAdmin matInput placeholder="Send invite to" type="email" class="anu-input">
        </mat-form-field>
        <!-- <mat-label>Select Reference Organization:</mat-label>
        <mat-select class="anu-input">
            <mat-option *ngFor="let org of referenceOrgs" [value]="org.code">{{org.name}}</mat-option>
        </mat-select> -->
        <input #tenantLogo type="file" placeholder="Select tenant logo"
            accept="image/jpeg,image/jpg,image/png,image/gif">
        <button (click)="createTenant()">Send Invite</button>
    </div>

    <hr>
    <input [(ngModel)]="tenant">
    <button (click)="encryptPassword();">Encrypt Passwords for Tenant</button>
    <button (click)="fixGrants();">Fix Sustainplus Grants</button>
</div>