<div class="row mt-0 mx-0 py-4">
    <div class="col-12">
        <p>This area will enable administrators to change default templates for the organization needs.  Grants and reports all have default organization specific templates to allow for easy data capture forms.  Any user can create a new templates to suit their needs and name/describe the template.  Named templates created by any user in the organization can be marked as default for the organization by the administrator.  The newly marked template will come into effect for any new grants and reports.  In-progress grants and reports will not be impacted by the changes.</p>
    </div>
</div>