<div class="main-content">
  <div class="container-fluid">
    <div class="anu-container" style="padding: 40px">
      <button
        *ngIf="appComp.loggedInUser.organization.organizationType === 'GRANTER'"
        class="btn btn-sm btn-green"
        style="position: absolute; right: 94px; z-index: 2"
        (click)="selectReportTemplate()"
      >
        Create Ad Hoc Report
      </button>

      <div class="row">
        <div class="col-12">
          <mat-tab-group>
            <mat-tab
              *ngIf="
                appComp.loggedInUser.organization.organizationType === 'GRANTER'
              "
              label="Reports Due Now ({{
                reportsToSetup ? reportsToSetup.length : 0
              }})"
            >
              <!--div *ngIf=reportsToSetupData>
                                <input class=" anu-input my-1" style="line-height: 100% !important; position: relative; max-height: 25px; min-height: 25px; float: right;font-size: 11px !important;color: #7f7f7f;" placeholder="Search..." [(ngModel)]="upcomingSearchCriteria" (keyup)="startFilter('upcoming',$event)" >
                            </div-->
              <div *ngIf="!reportsToSetupData">
                <img src="./assets/img/loader.gif" style="width: 10%" />
                <p style="color: black">Loading upcoming reports...</p>
              </div>
              <div
                *ngIf="reportsToSetupData && reportsToSetupData.length === 0"
              >
                <p style="color: black">No reports found</p>
              </div>
              <div
                [ngClass]="
                  report.canManage
                    ? [
                        'row',
                        'w-100',
                        'p-3',
                        'mb-2',
                        'mx-0',
                        'grants-section',
                        'owner-highlight'
                      ]
                    : ['row', 'w-100', 'p-3', 'mb-2', 'mx-0', 'grants-section']
                "
                style="cursor: pointer"
                *ngFor="let report of reportsToSetupData; let i = index"
                (click)="manageReport(report)"
              >
                <div class="col-12 mb-1">
                  <p
                    *ngIf="report.disabledByAmendment"
                    class="mb-0 text-red text-left"
                    style="font-weight: 600; font-size: 12px"
                  >
                    Underlying grant has been amended. Please check if this
                    report is still valid.
                  </p>
                  <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(report.grant.grantTypeId)}" ><small>{{getGrantTypeName(report.grant.grantTypeId)}}</small></span>
                  <p class="text-subheader text-left mb-0">
                    Grant Name:
                    <b>{{
                      (report.grant.referenceNo
                        ? report.grant.referenceNo + " | "
                        : "") + report.grant.name
                    }}</b>
                    <br>Implementing Organization:
                    <b *ngIf="isExternalGrant(report.grant)">{{
                      report.grant.organization
                        ? report.grant.organization.name
                        : ""
                    }}</b> 
                    <b *ngIf="!isExternalGrant(report.grant)">{{
                      report.grant.grantorOrganization.name
                    }}</b> 
                    <br />
                    Grant Amount:
                    <img src="./assets/img/rupee.png" style="width: 9px" /><b
                      >{{ getFormattedGrantAmount(report.grant.amount) }}
                    </b>
                    &nbsp;&nbsp;<span>{{
                      getGrantAmountInWords(report.grant.amount)
                    }}</span>
                  </p>
                </div>
                <div class="col-10" style="display: flex; align-items: center">
                  <p
                    class="text-header text-left mr-3"
                    (click)="manageReport(report)"
                  >
                    {{ report.name }} |
                    {{ report.dueDate | date: "dd-MMM-yyyy" }} |
                  </p>
                  <ng-container *ngIf="report.futureReportsCount" class="col-2">
                    <p>
                      <small
                        ><a
                          (click)="viewAddnlReports(report.id, report.grant.id,'upcoming')"
                          class="text-blue"
                          (mouseenter)="highlight($event, true)"
                          (mouseleave)="highlight($event, false)"
                        >
                          See additional reports ({{
                            report.futureReportsCount
                          }})</a
                        ></small
                      >
                    </p>
                  </ng-container>
                  <ng-container
                    *ngIf="!report.futureReportsCount"
                    class="col-2"
                  >
                    <p>
                      <small class="ml-3"
                        ><a> Additional reports not available</a></small
                      >
                    </p>
                  </ng-container>
                </div>
                <div class="col-2">
                  <div class="row">
                    <div class="col-12">
                      <span
                        [class]="
                          'badge state-' +
                          report.status.internalStatus.toLowerCase()
                        "
                        style="color: #000 !important"
                        >{{ report.status.displayName }}</span
                      >
                    </div>
                    <div
                      class="col-12"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <button
                        *ngIf="
                          (report.canManage &&
                            report.status.internalStatus === 'DRAFT') ||
                          (!report.canManage && report.disabledByAmendment)
                        "
                        class="btn btn-sm btn-red mt-3 mb-3 mx-0"
                        (click)="deleteReport(report)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-12 p-3" style="background: #f1f1f1">
                  <div class="row mb-0">
                    <div class="col-2">
                      <p class="mb-0 text-subheader text-left">Report Type:</p>
                    </div>
                    <div class="col-7">
                      <p class="mb-0 text-subheader text-left">
                        Reporting Time Frame:
                      </p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0 text-subheader text-left">
                        Submission Due Date
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                      </p>
                    </div>
                    <div class="col-7">
                      <div class="row">
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.startDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                        <div>
                          <mat-icon [inline]="true" class="mx-3 my-0"
                            >arrow_forward
                          </mat-icon>
                        </div>
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.endDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.dueDate | date: "dd-MMM-yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab
              label="Submissions Due ({{
                reportsReadyToSubmit ? reportsReadyToSubmit.length : 0
              }})"
            >
              <div *ngIf="!reportsReadyToSubmit">
                <img src="./assets/img/loader.gif" style="width: 10%" />
                <p style="color: black">Loading ready to submit reports...</p>
              </div>
              <div
                *ngIf="
                  reportsReadyToSubmit && reportsReadyToSubmit.length === 0
                "
              >
                <p style="color: black">No reports found</p>
              </div>
              <div
                class="row w-100 p-3 mb-2 mx-0 grants-section"
                style="border-bottom: 1px solid #d4d4d4; cursor: pointer"
                *ngFor="let report of reportsReadyToSubmit; let i = index"
                (click)="manageReport(report)"
              >
                <div class="col-12 mb-1">
                  <p
                    *ngIf="report.disabledByAmendment"
                    class="mb-0 text-red text-left"
                    style="font-weight: 600; font-size: 12px"
                  >
                    Underlying grant has been amended. Please check if this
                    report is still valid.
                  </p>
                  <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(report.grant.grantTypeId)}" ><small>{{getGrantTypeName(report.grant.grantTypeId)}}</small></span>
                  <p class="text-subheader text-left mb-0">
                    Grant Name:
                    <b>{{
                      (report.grant.referenceNo
                        ? report.grant.referenceNo + " | "
                        : "") + report.grant.name
                    }}</b>
                    &nbsp;&nbsp;|&nbsp;&nbsp; Implementing Organization:
                    <b *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE' && isExternalGrant(report.grant)">{{
                      report.grant.organization
                        ? report.grant.organization.name
                        : ""
                    }}</b> 
                    <b *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE' && !isExternalGrant(report.grant)">{{
                      report.grant.grantorOrganization.name
                    }}</b> 
                    <br />
                    Grant Amount:
                    <img src="./assets/img/rupee.png" style="width: 9px" /><b
                      >{{ getFormattedGrantAmount(report.grant.amount) }}
                    </b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{
                      getGrantAmountInWords(report.grant.amount)
                    }}</span>
                  </p>
                </div>
                <div class="col-10">
                  <p class="text-header text-left">
                    {{ report.name }} |
                    {{ report.dueDate | date: "dd-MMM-yyyy" }}
                  </p>
                </div>
                <div class="col-2">
                  <div class="row">
                    <div class="col-12">
                      <span
                        [class]="
                          'badge state-' +
                          report.status.internalStatus.toLowerCase()
                        "
                        style="color: #000 !important"
                        >{{ report.status.displayName }}</span
                      >
                    </div>
                    <div
                      class="col-12"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <button
                        *ngIf="
                          (report.canManage &&
                            report.status.internalStatus === 'DRAFT') ||
                          (!report.canManage && report.disabledByAmendment)
                        "
                        class="btn btn-sm btn-red mt-3 mb-3 mx-0"
                        (click)="deleteReport(report)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-12 p-3" style="background: #f1f1f1">
                  <div class="row mb-0">
                    <div class="col-2">
                      <p class="mb-0 text-subheader text-left">Report Type:</p>
                    </div>
                    <div class="col-7">
                      <p class="mb-0 text-subheader text-left">
                        Reporting Time Frame:
                      </p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0 text-subheader text-left">
                        Submission Due Date
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                      </p>
                    </div>
                    <div class="col-7">
                      <div class="row">
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.startDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                        <div>
                          <mat-icon [inline]="true" class="mx-3 my-0"
                            >arrow_forward
                          </mat-icon>
                        </div>
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.endDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.dueDate | date: "dd-MMM-yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab
              label="All Reports ({{ allReports ? allReports.length : 0 }})"
            >
              <div *ngIf="!allReports">
                <img src="./assets/img/loader.gif" style="width: 10%" />
                <p style="color: black">Loading all reports...</p>
              </div>
              <div *ngIf="allReports && allReports.length === 0">
                <p style="color: black">No reports found</p>
              </div>
              <div
                class="row w-100 p-3 mb-2 mx-0 grants-section"
                style="border-bottom: 1px solid #d4d4d4; cursor: pointer"
                *ngFor="let report of allReports; let i = index"
                (click)="manageReport(report)"
              >
                <div class="col-12 mb-1">
                  <p
                    *ngIf="report.disabledByAmendment"
                    class="mb-0 text-red text-left"
                    style="font-weight: 600; font-size: 12px"
                  >
                    Underlying grant has been amended. Please check if this
                    report is still valid.
                  </p>
                  <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(report.grant.grantTypeId)}" ><small>{{getGrantTypeName(report.grant.grantTypeId)}}</small></span>
                  <p class="text-subheader text-left mb-0">
                    Grant Name:
                    <b>{{
                      (report.grant.referenceNo
                        ? report.grant.referenceNo + " | "
                        : "") + report.grant.name
                    }}</b>
                    <br>Implementing Organization:
                    <b *ngIf="isExternalGrant(report.grant)">{{
                      report.grant.organization
                        ? report.grant.organization.name
                        : ""
                    }}</b> 
                    <b *ngIf="!isExternalGrant(report.grant)">{{
                      report.grant.grantorOrganization.name
                    }}</b> 
                    <br />
                    Grant Amount:
                    <img src="./assets/img/rupee.png" style="width: 9px" /><b
                      >{{ getFormattedGrantAmount(report.grant.amount) }}
                    </b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{
                      getGrantAmountInWords(report.grant.amount)
                    }}</span>
                  </p>
                </div>
                <div class="col-10" style="display: flex; align-items: center">
                  <p class="text-header text-left mr-3">
                    {{ report.name }} |
                    {{ report.dueDate | date: "dd-MMM-yyyy" }}
                  </p>
                  <ng-container *ngIf="report.futureReportsCount" class="col-2">
                    <p>
                      <small
                        ><a
                          (click)="viewAddnlReports(report.id, report.grant.id,'all')"
                          class="text-blue"
                          (mouseenter)="highlight($event, true)"
                          (mouseleave)="highlight($event, false)"
                        >
                          See additional reports ({{
                            report.futureReportsCount
                          }})</a
                        ></small
                      >
                    </p>
                  </ng-container>
                  <ng-container
                    *ngIf="!report.futureReportsCount"
                    class="col-2"
                  >
                    <p>
                      <small class="ml-3"
                        ><a> Additional reports not available</a></small
                      >
                    </p>
                  </ng-container>
                </div>
                <div class="col-2">
                  <div class="row">
                    <div class="col-12">
                      <span
                        [class]="
                          'badge state-' +
                          report.status.internalStatus.toLowerCase()
                        "
                        style="color: #000 !important"
                        >{{ report.status.displayName }}</span
                      >
                    </div>
                    <div
                      class="col-12"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <button
                        *ngIf="
                          (report.canManage &&
                            report.status.internalStatus === 'DRAFT') ||
                          (!report.canManage && report.disabledByAmendment)
                        "
                        class="btn btn-sm btn-red mt-3 mb-3 mx-0"
                        (click)="deleteReport(report)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-12 p-3" style="background: #f1f1f1">
                  <div class="row mb-0">
                    <div class="col-2">
                      <p class="mb-0 text-subheader text-left">Report Type:</p>
                    </div>
                    <div class="col-7">
                      <p class="mb-0 text-subheader text-left">
                        Reporting Time Frame:
                      </p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0 text-subheader text-left">
                        Submission Due Date
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                      </p>
                    </div>
                    <div class="col-7">
                      <div class="row">
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.startDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                        <div>
                          <mat-icon [inline]="true" class="mx-3 my-0"
                            >arrow_forward
                          </mat-icon>
                        </div>
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.endDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.dueDate | date: "dd-MMM-yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
