<!-- <div class="row align-items-center"> -->


<div class="row m-0 h-100" style="background:#F1F1F4;">
  <div class="col-12" style="height: 90px; background: #424652; display: flex; align-items: center;">
    <img [src]="logoURL" alt="logo" class="img-fluid" style="width: 50px; background: #fff; padding: 5px; margin: 5px 3px; border-radius: 2px;">
    <span style="line-height: 0.9em;height:52px; color:#fff; margin-left:10px;margin-left: 10px;font-weight: 400;font-size: 25px;text-align: left;">{{orgName}}
      </span>
  </div>
  <div class="col-lg-7 col-md-12">
    <img src="./assets/img/landing.svg">
  </div>
  <div class="col-lg-5 col-md-12">
    <div style="display:flex;align-items:center;justify-content:center;">

      <div class="card-body mx-lg-5 my-lg-5 bg-white">

          <!-- <label for="emailId">Email Id</label> -->
          <div class="my-2">
            <input #emailId required type="text" class="anu-input mb-3 w-100" id="emailId"
                   placeholder="Email Id" [value]="currentEmail">
          </div>
          <div class="row">
            <div class="col-6 my-2">
              <input #firstName required type="text" class="anu-input mb-3" id="firstName"
                     placeholder="First Name">
            </div>
            <div class="col-6 my-2">
              <input #lastName required type="text" class="anu-input mb-3" id="lastName"
                     placeholder="Last Name">
            </div>
          </div>
          <!-- <label for="password">Password</label> -->
          <div class="input-group input-group-alternative form-group-email">
            <input #password type="password" class="anu-input mb-3 w-100" id="password"
                   placeholder="Password">

          </div>
          <div class="input-group input-group-alternative form-group-email">
            <input #confirmPassword type="password" class="anu-input mb-4 w-100" id="confirmPassword"
                   placeholder="Confirm Password">

          </div>
          <re-captcha (resolved)="resolved($event)" type="image" siteKey="6LdUFvYUAAAAADIq0DlLpSJgrbuCKtR7H7FcpnFn"></re-captcha>
          <button class="btn btn-sm btn-green" type="submit" (click)="submit()">Register
          </button>
      </div>
    </div>
    <div class="text-center f-12">
      <div class="w-100">Seeking Grants?<a class="ml-2 text-green" (click)="signup()">Sign up!</a></div>
    </div>
    <div class="text-center f-12">
      <div class="w-100">v1.0.0 build 176</div>
    </div>
  </div>
    <div class="text-center f-12">
        <div class="w-100"><p style="color:#7d7d7d;font-size: 16px;"><small class="ml-4">Powered by Social Alpha <img src="./assets/img/avatar.png" alt="logo" class="img-fluid" style="width: 32px; padding: 5px; margin: 5px 0px; border-radius: 2px;"></small></p></div>
    </div>
</div>
