<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://anudan.org">
                        ANUDAN |
                    </a>
                </li>
                <li>
                    Open Source Initiatives from Social Alpha
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right ml-3">
            | <small>{{appComp.releaseVersion}}</small>
        </div>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}

        </div>

    </div>
</footer>
