<div class="wrapper">
    <div #messagepopover id="messagepopover" style="display: none; position: absolute; left: 300px; z-index: 1070; min-width: 400px; background: #4d4d4d; color: #fff; text-align: left; padding: 5px; border-top-right-radius: 4px; border-bottom-right-radius: 4px;max-width:auto;max-height:400px;overflow:scroll;">
            <div class="row">
                <div class="col-12 text-right"><mat-icon (click)="closeMessagePopup()">close</mat-icon></div>
            </div>
                    <mat-expansion-panel class="mb-3 grants-expansion-panel" *ngFor="let notification of appComponent.notifications">
                        <mat-expansion-panel-header class="grant-expansion-panel-notifications" style="padding: 5px;height: auto !important;">
                            <mat-panel-title style="display: flex; align-items: center">
                                <p class="my-0 mr-2" *ngIf="!notification.grantId">{{notification.title}}</p>
                                <p class="my-0 mr-2 text-green" *ngIf="notification.grantId && !notification.read"><b>{{notification.title}}</b></p>
                                <p class="my-0 mr-2" *ngIf="notification.grantId && notification.read">{{notification.title}}</p>
                                <small>(Received {{getHumanTime(notification)}} ago)</small>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>{{notification.message}}</div>
                        <button class="btn btn-sm btn-green" *ngIf="notification.grantId" (click)="manageGrant(notification,notification.grantId)">Go to grant</button>
                    </mat-expansion-panel>
   </div>
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>


    <div class="main-panel">
        <!--<app-navbar></app-navbar>-->
        <div *ngIf="appComponent.currentView !== 'grants' && appComponent.currentView !== 'user-profile'" class="p-4 text-left" style="position: sticky;top:0;z-index: 2;color: #000;background-color:#E4E4E4"><a (click)="showAllGrants(currentGrant)" class="text-green"><b>Home</b></a> > <ng-container *ngIf="currentGrant">{{currentGrant.name}}</ng-container>
            <div class="float-right ml-4">
                <a (click)="showWorkflowAssigments()"><i class="fas fa-user-cog fa-lg" aria-hidden="true"></i></a>
            </div>
            <div class="float-right ml-4">
                <a (click)="showGrantHistory('notes')"><i class="fa fa-comment mr-1" aria-hidden="true"></i></a>
            </div>
            <div class="float-right ml-4" *ngIf="appComponent.action !== 'preview'">
                <b>{{ appComponent.autosaveDisplay}}</b>
            </div>
            <br>
            <div class="float-right ml-4" *ngIf="appComponent.action !== 'preview'">
                <b><small>Based on template '{{appComponent.selectedTemplate.name}}'</small></b>
            </div>

        </div>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>
