<div class="wrapper">

    <ng-container *ngIf="appComponent.notifications.length > 0">
        <div (click)="showMessages()" style="position:absolute; right:20px;z-index:3;">
            <mat-icon *ngIf="this.appComponent.hasUnreadMessages && this.appComponent.unreadMessages>0" class="float-right mr-3 mt-3" [matBadge]="this.appComponent.unreadMessages" matBadgeColor="warn">notifications</mat-icon>
            <mat-icon *ngIf="!this.appComponent.hasUnreadMessages || this.appComponent.unreadMessages===0" class="float-right mr-3 mt-3 text-dark">notifications</mat-icon>
        </div>
    </ng-container>
    <ng-container *ngIf="appComponent.notifications.length === 0">
        <div style="position:absolute; right:20px;z-index:3;">
            <mat-icon class="float-right mr-3 mt-3">notifications_none</mat-icon>
        </div>
    </ng-container>

    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>


    <div class="main-panel">
        <!--<app-navbar></app-navbar>-->
        <div *ngIf="appComponent.currentView === 'grant'" class="p-4 text-left" style="position: sticky;top:0;z-index: 2;color: #000;background-color:#E4E4E4"><a (click)="showAllGrants(currentGrant)" class="text-green"><b>Home</b></a> > <ng-container *ngIf="currentGrant">{{currentGrant.name}}</ng-container></div>
        <div *ngIf="appComponent.currentView === 'report'" class="p-4 text-left" style="position: sticky;top:0;z-index: 2;color: #000;background-color:#E4E4E4"><a (click)="showUpcomingReports()" class="text-green"><b>Home</b></a> > <ng-container *ngIf="currentReport">{{currentReport.name}}</ng-container></div>
        <div *ngIf="appComponent.currentView !== 'grants' && appComponent.currentView !== 'upcoming' && appComponent.currentView !== 'user-profile'" class="row" style="background: #fff; padding: 10px; margin: 0 30px; position: sticky; top: 67px; z-index: 3;">
            <div class="col-12">
                <div class="float-right ml-2">
                    <a (click)="showWorkflowAssigments()"><img src="./assets/img/wfassignmnet.svg" style="width:25px;"></a>
                </div>
                <div class="float-right ml-4">
                    <a *ngIf="appComponent.currentView==='grant'" (click)="showHistory('grant',currentGrant)"><img src="./assets/img/note.svg" style="width:25px;"></a>
                    <a *ngIf="appComponent.currentView==='report'" (click)="showHistory('report',currentReport)"><img src="./assets/img/note.svg" style="width:25px;"></a>
                </div>


                <div class="float-left" >
                    <b>{{ appComponent.autosaveDisplay}}</b>
                </div>
                <br>
                <div class="float-left" *ngIf="appComponent.action !== 'preview'">
                    <b><small *ngIf="appComponent.selectedTemplate">Based on template '{{appComponent.selectedTemplate.name}}'</small></b>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>

</div>
