<div class="row mt-0 mx-0 py-4">
    <div class="col-12">
        <h5 style="font-weight:bold;">Add User</h5>
    </div>
    <div class="col-12">
        <div class="row" style="background:#f6f6f6;">
            <div class="col-5 pt-3">
                <mat-form-field>
                    <input #email [(ngModel)]="newEmail" class="anu-input" matInput type="email"
                        placeholder="Enter an email address..." (blur)="validateEmail($event)">
                    <small class="text-danger" *ngIf="existingUser">User with this email address already exists</small>
                </mat-form-field>
            </div>
            <div class="col-6 pt-3">
                <mat-label>Select a role</mat-label>
                <mat-select class="anu-input" [(ngModel)]="newRole">
                    <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
                </mat-select>
            </div>
            <div class="col-12 text-right">
                <button #createRoleBtn class="btn btn-sm btn-green float-right" (click)="createNewUser()"
                    [disabled]="canSendInvite()">Send Invitation</button>
            </div>
        </div>

    </div>

    <div class="col-12 mt-3">
        <h5 style="font-weight:bold;">Manage Users</h5>
    </div>
    <div class="col-12 px-0">
        <mat-list style="background:#fff;">

            <mat-list-item class="user-list-item-class" id="user_{{user.id}}" *ngFor="let user of users"
                style="min-height:48px;height:auto;padding:8px 0;">
                <div *ngIf="!user.editMode" class="row mb-2 w-100 mx-0" style="text-transform:none !important;">
                    <div *ngIf="user.active" class="col-3">
                        {{user.firstName}} {{user.lastName}}
                    </div>
                    <div *ngIf="!user.active" class="col-3"><small class="text-danger" style="min-width:125px;">Not
                            Registered</small></div>
                    <div class="col-3 pl-0">{{user.emailId}}</div>
                    <div [ngClass]="user.active?'col-3':'col-2'">
                        <p *ngFor="let role of getRoles(user)">{{role.name}}<ng-container *ngIf="user.admin"> [Admin]
                            </ng-container>
                        </p>
                    </div>

                    <div [ngClass]="user.active?'col-3 pl-0 text-right':'col-4 pl-0 text-right'"
                        style="display: flex;flex-direction: row-reverse;align-items: center;color:#9f9f9f">
                        <!-- <mat-icon *ngIf="!user.deleted" (click)="deleteUser(user)" style="cursor: pointer;">
                            delete_outline
                        </mat-icon> -->
                        <button *ngIf="!user.deleted" class="btn btn-sm btn-red" (click)="deleteUser(user)"><i
                                class="fas fa-user-slash mr-2 text-red" style="cursor: pointer;"></i>Disable</button>
                        <button *ngIf="user.deleted" class="btn btn-sm btn-green" (click)="unDeleteUser(user)"><i
                                class=" fas fa-user-check mr-2 text-green" style="cursor: pointer;"></i>Enable</button>
                        <img *ngIf="user.active && !user.deleted" class="mr-2" src="./assets/img/edit.svg"
                            (click)="editUser(user,$event)" style="cursor: pointer;">
                        <button (click)="reInviteUser(user,$event)" class="btn btn-sm btn-green"
                            *ngIf="!user.active">Re-Invite User</button>
                    </div>
                </div>
                <div *ngIf="user.editMode" class="row mb-2 w-100 user-edit-class mx-0"
                    style="text-transform:none !important;background-color: #f1f1f1;">

                    <div class="col-2">
                        <mat-form-field>
                            <input class="anu-input" matInput [(ngModel)]="user.firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-2 pl-0">
                        <mat-form-field>
                            <input class="anu-input" matInput [(ngModel)]="user.lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-3 pl-0">
                        <mat-form-field>
                            <input class="anu-input" matInput [(ngModel)]="user.emailId">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <mat-select class="anu-input" [value]="getRoleId(user)"
                                (selectionChange)="setNewRole(user,$event)">
                                <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-1 pl-0 text-center" style="display: flex;align-items: center;">
                        <mat-checkbox type="checkbox" [(ngModel)]="user.admin">Admin?</mat-checkbox>
                    </div>
                    <div class="col-12">
                        <div matLine *ngIf="user.editMode"
                            style="display: flex;align-items: center;justify-content: flex-end;">
                            <button class="btn btn-sm btn-link" (click)="cancelEdit(user)">Cancel</button>
                            <button class="btn btn-sm bg-green" (click)="saveUser(user)">Save</button>
                        </div>
                    </div>

                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>