<div class="row mt-0 mx-0 py-4">
    <div class="col-12"><h5 style="font-weight:bold;">Add a user</h5></div>
    <div class="col-12">
        <div class="row" style="background:#f6f6f6;">
            <div class="col-5 pt-3">
                <mat-form-field>
                    <input #email [(ngModel)]="newEmail" class="anu-input" matInput type="email" placeholder="Enter an email address...">
                </mat-form-field>
            </div>
            <div class="col-6 pt-3">
                <mat-label>Select a role</mat-label>
                <mat-select class="anu-input" [(ngModel)]="newRole">
                    <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
                </mat-select>
            </div>
            <div class="col-12 text-right">
                <button #createRoleBtn class="btn btn-sm btn-green float-right" (click)="createNewUser()" [disabled]="canSendInvite()">Send Invitation</button>
            </div>
        </div>

    </div>

    <div class="col-12">
        <mat-list style="background:#fff;">
            <mat-list-item>
                <div class="row mb-1 w-100">
                    <div class="col-5"><b>Email Id</b></div>
                    <div class="col-3"><b>Organization Roles</b></div>
                    <div class="col-2"><b>Is Admin?</b></div>
                    <div class="col-2 text-right"><b>Actions</b></div>
                    <div class="col-12"><mat-divider></mat-divider></div>
                </div>
            </mat-list-item>
            <mat-list-item id="user_{{user.id}}" *ngFor="let user of users" style="min-height:48px;height:auto;padding:8px;">
                <div class="row mb-2 w-100" style="text-transform:none !important;">
                    <div class="col-5">{{user.emailId}}</div>
                    <div *ngIf="!user.editMode" class="col-3">
                        <mat-select [value]="getRoles(user)">
                            <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" [checked]="user.admin">
                    </div>

                    <div class="col-2 p-0 text-right">
                        <button *ngIf="user.active && !user.editMode" mat-icon-button>
                            <mat-icon (click)="deleteUser(user)">delete_outline</mat-icon>
                        </button>
                        <small style="min-width:125px;"><b *ngIf="!user.active && !user.editMode" class="text-danger">Not Registered</b></small>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
