<div class="main-content">
    <div class="container-fluid">

        <div class="row"  style="position: absolute; top: 80px; width: 100%;min-height:82px; padding: 0 27px;z-index: 2; background: rgb(229, 229, 229);">
            <div class="col-9" style="z-index: 2; min-width: 280px;display: flex;align-items: center;justify-content: center;">
                <app-search-filter *ngIf="!searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)"></app-search-filter>
                <mat-icon *ngIf="searchClosed" (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
              </div>
              <div class="col-3 d-flex align-items-center justify-content-right p-0"></div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-12">
                <div>
                    <div *ngIf="!disbursements">
                        <img src="./assets/img/loader.gif" style="width:10%;">
                        <p style="color: black"> Loading Disbursements... </p>
                    </div>

                    <div *ngIf="disbursements && disbursements.length===0">
                        <h5 class="mt-5">No Closed Approval Requests were found</h5>
                    </div>
                    <div *ngIf="disbursements && disbursements.length>0">
                        <div class="row w-100 p-3 mb-2 mx-0 grants-section"
                            style="border-bottom:1px solid #d4d4d4 ;cursor: pointer;"
                            *ngFor="let disbursement of filteredDisbursements; let i = index"
                            (click)="manageDisbursement(disbursement)">
                            <div class="col-10 mb-1">
                                <span class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(disbursement.grant.grantTypeId)}" ><small>{{getGrantTypeName(disbursement.grant.grantTypeId)}}</small></span>
                                <p class="text-subheader text-left mb-0">
                                    Grant Name:
                                    <b class="search-context">{{(disbursement.grant.referenceNo?disbursement.grant.referenceNo+' | ':'') + disbursement.grant.name}}</b>
                                    <br>Implementing Organization:
                <b *ngIf="isExternalGrant(disbursement.grant)" class="search-context">{{
                  disbursement.grant.organization
                    ? disbursement.grant.organization.name
                    : ""
                }}</b> 
                <b *ngIf="!isExternalGrant(disbursement.grant)" class="search-context">{{
                  disbursement.grant.grantorOrganization.name
                }}</b>
                <br>
                                    Grant Amount: <b class="search-context">{{currencyService.getFormattedAmount(disbursement.grant.amount)}}
                                    </b>
                                    &nbsp;&nbsp;<span>{{currencyService.getAmountInWords(disbursement.grant.amount)}}</span>
                                </p>
                            </div>
                            <div class="col-2">
                                <span [class]="'badge state-' + disbursement.status.internalStatus.toLowerCase()"
                                    style="color:#000 !important;">{{disbursement.status.displayName}}</span>
                            </div>
                            <div class="col-10 text-left pt-3">
                                <p class="text-subheader mb-0">Requested Amount:</p>
                                <p class="text-header text-left m-0">
                                    {{currencyService.getFormattedAmount(disbursement.requestedAmount)}} <span
                                        class="text-subheader ml-3">
                                        {{currencyService.getAmountInWords(disbursement.requestedAmount)}}</span></p>

                            </div>
                            <div *ngIf="disbursement.canManage && disbursement.status.internalStatus==='DRAFT'"
                                class="col-2" style="display: flex; align-items: center; justify-content: center;">
                                <button class="btn btn-sm btn-red mx-0"
                                    (click)="deleteDisbursement(disbursement)">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>