<div class="row mt-0 mx-0 py-4">
  <div class="col-12">
      <h5 style="font-weight:bold;">Manage Tags</h5>
  </div>
  <div class="col-12">
    <input matInput class="anu-input" placeholder="Type in text and press Enter to create a new tag" (keyup.enter)="addTag($event)">
  </div>
  <div class="col-12">
    <p style="font-weight:bold;" class="mt-4"><strong>Current Tags</strong></p>
    <mat-list dense  matRipple>
      <mat-list-item *ngFor="let tag of tags" style="background:#f4f4f4 !important;" class="m-1">
       <p *ngIf="tag.id!==tagBeingEdited" matLine>{{tag.name}}</p>
       <img *ngIf="tag.id!==tagBeingEdited" class="mr-2" src="./assets/img/edit.svg"
                            (click)="editTag(tag,$event)" style="cursor: pointer;">
       <button *ngIf="!tag.disabled && tag.id!==tagBeingEdited" class="btn btn-sm btn-red" (click)="disableTag(tag)"><i
        class="fas fa-dot-circle mr-2 text-red" style="cursor: pointer;"></i>Disable</button>
        <button *ngIf="tag.disabled && tag.id!==tagBeingEdited" class="btn btn-sm btn-green" (click)="enableTag(tag)"><i
        class=" fas fa-dot-circle mr-2 text-green" style="cursor: pointer;"></i>Enable</button>
       <button *ngIf="tag.id!==tagBeingEdited" mat-icon-button (click)="deleteTag(tag)" [ngStyle]="tag.used?{'cursor': 'pointer','color':'#dee2e6'}:{'cursor': 'pointer','color':'#9f9f9f'}" [disabled]="tag.used"><mat-icon matListIcon class="pull-right" style="right:15px;">delete</mat-icon></button>       
      <input matInput class="anu-input m-3" *ngIf="tag.id===tagBeingEdited" [ngModel]="tag.name"  placeholder="Edit Tag Name:">
      <button *ngIf="tag.id===tagBeingEdited" class="btn btn-sm btn-green-primary" (click)="saveTag(tag)">Save</button>
      </mat-list-item>
    </mat-list>
  </div>
  
</div>