<div class="row anu-container">
    <div class="col-12 bg-white" style="position:sticky;top:40px;z-index:1040;">
        <span class="badge badge-dark text-white pull-right">{{currentGrant.substatus.displayName}}</span>
        <span class="badge badge-success pull-right">{{currentGrant.grantStatus.displayName}}</span>
        <h4 class="col-12 text-left pl-5 ml-3 my-3">Grant Basics</h4>
    </div>
    <div class="col-lg-12">
        <div #container class="container text-left mt-2 px-5 py-2" (scroll)="rememberScrollPosition($event)">

            <div *ngIf="!canManage">
                <div class="row">
                    <div class="col-12 mb-4">
                        <b>Grant Name:</b>
                        <div>{{currentGrant.name}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant Start Date:</b>
                        <div>{{currentGrant.startDate | date:'dd-MMM-yyyy'}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant End Date:</b>
                        <div>{{currentGrant.endDate | date:'dd-MMM-yyyy'}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant Amount:</b>
                        <div>{{currentGrant.amount}}</div>
                    </div>
                    <div class="col-12 mb-4">
                        <b>Grant Description:</b>
                        <div>{{currentGrant.description}}</div>
                    </div>

                </div>

            </div>
            <!--MANAGEMENT SECTION-->
            <div *ngIf="canManage">

                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput id="grantName" [(ngModel)]="currentGrant.name"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   placeholder="Grant Name" required
                                   type="text" autocomplete="off" class="anu-input">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <input id="grantStart" matInput [(ngModel)]="currentGrant.stDate" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   [matDatepicker]="pickerStart" placeholder="Grant Start Date" type="text" readonly>
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <input id="grantEnd" matInput [(ngModel)]="currentGrant.enDate" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   [matDatepicker]="pickerEnd" placeholder="Grant End Date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <input id="grantAmount" matInput [(ngModel)]="currentGrant.amount" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   placeholder="Grant Amount">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <textarea rows="5" id="grantDesc" matInput type="text"
                                      [(ngModel)]="currentGrant.description"
                                      [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()" required
                                      placeholder="Grant Description" autocomplete="off" class="anu-input"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <mat-select placeholder="Grant Receiver" matInput [value]="currentGrant.organization.id"
                                        (selectionChange)="setNewOrg($event)" required class="anu-input">
                                <mat-option *ngFor="let org of appComp.appConfig.granteeOrgs" [value]="org.id"
                                            (select)="org.id===currentGrant.organization.id">{{org.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6"></div>


                </div>
            </div>


        </div>
    </div>

</div>
