<div class="row anu-container">
    <div class="col-12 bg-white" style="position:sticky;top:67px;z-index:1040;">
        <!--<span class="badge badge-dark text-white pull-right mt-2" matBadgeSize="medium">{{currentGrant.grantStatus.displayName}}</span>-->
        <div class="row">
            <h4 class="col-11 text-left my-3 section-header">Grant Header</h4>
            <div class="col-1 text-right" style="display: flex;align-items: center;justify-content: flex-start;">
                <!--<button *ngIf="canManage" class="btn btn-sm btn-green float-right">
                  <i class="fas fa-plus-square mr-2"></i>Add new Section</button>-->
                <mat-icon mat-button [matMenuTriggerFor]="menu1" class="float-right" style="cursor:pointer;">more_vert</mat-icon>
                <mat-menu #menu1="matMenu">
                    <button *ngIf="this.appComp.loggedInUser.organization.organizationType!=='GRANTEE'" mat-menu-item (click)="showHistory('grant',currentGrant)">Notes</button>
                    <button mat-menu-item (click)="showWorkflowAssigments()">Assignments</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div #container class="container text-left mt-2 px-5 py-2" (scroll)="rememberScrollPosition($event)">

            <div *ngIf="!canManage">
                <div class="row">
                    <div class="col-12 mb-4">
                        <b>Grant Name:</b>
                        <div>{{currentGrant.name}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant Start Date:</b>
                        <div>{{currentGrant.startDate | date:'dd-MMM-yyyy'}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant End Date:</b>
                        <div>{{currentGrant.endDate | date:'dd-MMM-yyyy'}}</div>
                    </div>
                    <div class="col-4 mb-4">
                        <b>Grant Amount (₹):</b>
                        <div>{{currentGrant.amount}}</div>
                    </div>
                    <div class="col-6 mb-4">
                        <b>Grantee Organization:</b>
                        <div *ngIf="currentGrant.organization">{{currentGrant.organization.name}}</div>
                    </div>
                     <div class="col-6 mb-4">
                        <b>Grantee Organization Representative:</b>
                        <div>{{currentGrant.representative}}</div>
                    </div>
                </div>

            </div>
            <!--MANAGEMENT SECTION-->
            <div *ngIf="canManage">

                <div class="row">
                    <div class="col-12">
                        <mat-form-field [floatLabel]="'always'">
                            <mat-label>Grant Title</mat-label>
                            <input matInput id="grantName" [(ngModel)]="currentGrant.name"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   placeholder="Enter grant title ..." required
                                   type="text" autocomplete="off" class="anu-input">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field [floatLabel]="'always'">
                                    <mat-label>Grant Start Date</mat-label>
                                    <input id="grantStart" matInput [(ngModel)]="currentGrant.stDate"  class="anu-input"  (dateInput)="datePickerSelected($event)"
                                           [ngModelOptions]="{standAlone:true}" (ngModelChange)="manageDate('start', $event, currentGrant.stDate)"
                                           [matDatepicker]="pickerStart" placeholder="Select grant start date" type="text" readonly>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    <mat-icon (click)="openStartDate()" style="transform: scale(0.5);position: absolute;right: 0;top:30%;">calendar_today</mat-icon>
                                </mat-form-field>

                            </div>
                            <div class="col-4">
                                <mat-form-field [floatLabel]="'always'">
                                    <mat-label>Grant End Date</mat-label>
                                    <input id="grantEnd" matInput [(ngModel)]="currentGrant.enDate"  class="anu-input" (dateInput)="datePickerSelected($event)"
                                           [ngModelOptions]="{standAlone:true}" (ngModelChange)="manageDate('end', $event, currentGrant.stDate)"
                                           [matDatepicker]="pickerEnd" placeholder="Select grant end date" readonly>
                                    <mat-datepicker #pickerEnd></mat-datepicker>
                                    <mat-icon (click)="openEndDate()" style="transform: scale(0.5);position: absolute;right: 0;top:30%;">calendar_today</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                               <mat-form-field [floatLabel]="'always'">
                                   <mat-label>Grant Duration</mat-label>
                                    <input matInput [(ngModel)]="currentGrant.duration"
                                           placeholder="Grant duration" readonly="true"
                                           type="text" autocomplete="off" class="anu-input">
                                </mat-form-field>
                            </div> 
                        </div>
                    </div>
                    <div class="col-3">
                        <mat-form-field [floatLabel]="'always'">
                            <mat-label>Grant Amount (₹)</mat-label>
                            <input id="grantAmount" matInput [(ngModel)]="currentGrant.amount"  class="anu-input" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()" placeholder="Enter grant amount" autocomplete="false">
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field [floatLabel]="'always'">
                            <mat-label>Grant Amount (In Words)</mat-label>
                            <input matInput disabled readonly [value]="getGrantAmountInWords(currentGrant.amount)">
                        </mat-form-field>
                    </div>
                    <!--div class="col-12">
                        <mat-form-field>
                            <textarea rows="5" id="grantDesc" matInput type="text"
                                      [(ngModel)]="currentGrant.description"
                                      [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()" required
                                      placeholder="Grant Description" autocomplete="off" class="anu-input"></textarea>
                        </mat-form-field>
                    </div-->
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <!--mat-form-field>
                            <mat-select placeholder="Grantee Organization" matInput [value]="currentGrant.organization.id"
                                        (selectionChange)="setNewOrg($event)" required class="anu-input">
                                <mat-option *ngFor="let org of appComp.appConfig.granteeOrgs" [value]="org.id"
                                            (select)="org.id===currentGrant.organization.id">{{org.name}}</mat-option>
                            </mat-select>
                        </mat-form-field-->
                        <form class="example-form">
                            <mat-form-field [floatLabel]="'always'">
                                <mat-label>Grantee Organization</mat-label>
                                <input type="text" matInput [formControl]="myControl" class="anu-input" [matAutocomplete]="auto" placeholder="Select or create Grantee organization">
                            </mat-form-field>

                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.name}}
                              </mat-option>
                            </mat-autocomplete>
                        </form>
                    </div>
                    <div class="col-6">
                        <mat-form-field [floatLabel]="'always'">
                            <mat-label>Grantee Organization Representative</mat-label>
                            <input matInput id="granteeOrgRep" [(ngModel)]="currentGrant.representative"
                                   [ngModelOptions]="{standAlone:true}" (ngModelChange)="checkGrant()"
                                   placeholder="Enter Grantee organization representative name"
                                   type="text" autocomplete="off" class="anu-input">
                        </mat-form-field>
                    </div>
                    </div>
            </div>


        </div>
    </div>
</div>

<div #createSectionModal class="modal fade" id="createSectionModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSectionLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fieldTitleInput" class="mat-form-field-label pull-left">Section Name:</label>
                    <input id="sectionTitleInput" class="form-control" value="">
                </div>
            </div>
            <div class="">
                <button type="button" class="btn btn-primary pull-right"
                        (click)="saveSection()">Done
                </button>
                <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>