<div class="container-fluid text-left mt-5 pt-5 pl-2 pr-2 pb-2">
  <h5>{{currentSubmission.grant.name}}</h5>
  <div *ngIf="quantitativeKpisToSubmit || qualitativeKpisToSubmit || documentKpisToSubmit">
    <a class="btn btn-sm btn-outline-secondary" (click)="appComp.goToHome()"><i
        class="fa fa-home mr-2"></i>Home</a>
    <a class="btn btn-sm btn-outline-dark" (click)="appComp.goToGrantSummary()"><i
        class="fa fa-files-o mr-2"></i>Grant Summary</a>

    <div *ngFor="let act of actions" class="btn-group">
      <button class="btn btn-sm btn-primary"
              (click)="submitKpis($event, act.toStateId)">{{act.name}}</button>
    </div>
    <hr>
    <h4 class="text-center">Reporting for {{currentSubmission.title}}</h4>
    <div class="row bg-dark text-white mx-2 py-2 mb-2">
      <div class="col-sm-6 col-lg-6"><b>KPI</b></div>
      <div class="col-sm-2 col-lg-2 text-center"><b>Goal/Target</b></div>
      <div class="col-sm-2 col-lg-2 text-center"><b>Achieved</b></div>
      <div class="col-sm-2 col-lg-2"><b></b></div>
    </div>
    <div class="row mx-2" *ngFor="let kpiData of quantitativeKpisToSubmit">
      <div class="col-sm-6 col-lg-6"><b>{{kpiData.kpiDataTitle}}</b></div>
      <div class="col-sm-2 col-lg-2 text-center">{{kpiData.kpiDataGoal}}</div>
      <div class="col-sm-2 col-lg-2 text-center">
        <input *ngIf="currentSubmission.actionAuthorities.permissions.includes('MANAGE')"
               id="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
               value="{{kpiData.kpiDataActuals}}" class="form-control text-center">
        <input *ngIf="currentSubmission.actionAuthorities.permissions.includes('VIEW')"
               id="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
               value="{{kpiData.kpiDataActuals}}" class="form-control text-center" readonly>
      </div>
      <div class="col-sm-2 col-lg-2">
        <a data-toggle="modal" data-target="#notesModal"
           [attr.data-whatever]="currentSubmission.id+'_'+kpiData.kpiType+'_'+kpiData.kpiDataId">
          <i title="Notes" *ngIf="kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o text-primary"></i>
          <i title="Notes" *ngIf="!kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o"></i>

          <i class="fa fa-paperclip ml-2" title="Attachments"></i>
        </a>
        <div id="note_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="invisible h-0">
        </div>
        <ng-container *ngFor="let note of kpiData.kpiDataNotes">
          <div class="invisible h-0">
            <div
                class="note_history_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">
              <ng-container *ngIf="note.postedBy.id === appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-right"><b class="bg-secondary p-1 rounded text-white">Me</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-right mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
              <ng-container *ngIf="note.postedBy.id !== appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-left"><b class="bg-primary p-1 rounded text-white">{{note.postedBy.firstName + ' '
                + note.postedBy.lastName}}</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-left mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row mx-2" *ngFor="let kpiData of qualitativeKpisToSubmit">
      <div class="col-sm-12 col-lg-12"><b>{{kpiData.kpiDataTitle}}</b></div>
      <div class="col-sm-10 col-lg-10">
          <textarea *ngIf="currentSubmission.actionAuthorities.permissions.includes('MANAGE')"
                    id="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
                    class="form-control w-100">{{kpiData.kpiDataActuals}}</textarea>
        <textarea *ngIf="currentSubmission.actionAuthorities.permissions.includes('VIEW')"
                  id="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
                  class="form-control w-100" readonly>{{kpiData.kpiDataActuals}}</textarea>
      </div>
      <div class="col-sm-2 col-lg-2">
        <a data-toggle="modal" data-target="#notesModal"
           [attr.data-whatever]="currentSubmission.id+'_'+kpiData.kpiType+'_'+kpiData.kpiDataId">
          <i title="Notes" *ngIf="kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o text-primary"></i>
          <i title="Notes" *ngIf="!kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o"></i>

          <i class="fa fa-paperclip ml-2" title="Attachments"></i>
        </a>
        <div id="note_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="invisible h-0">
        </div>
        <ng-container *ngFor="let note of kpiData.kpiDataNotes">
          <div class="invisible h-0">
            <div
                class="note_history_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">
              <ng-container *ngIf="note.postedBy.id === appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-right"><b class="bg-secondary p-1 rounded text-white">Me</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-right mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
              <ng-container *ngIf="note.postedBy.id !== appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-left"><b class="bg-primary p-1 rounded text-white">{{note.postedBy.firstName + ' '
                + note.postedBy.lastName}}</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-left mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
    <div class="row mx-2" *ngFor="let kpiData of documentKpisToSubmit">
      <div class="col-sm-12 col-lg-12"><b>{{kpiData.kpiDataTitle}}</b></div>
      <div class="col-sm-3 col-lg-3">
        <div>
          <ng-container *ngFor="let doc of kpiData.kpiFiles">
          <a target="_blank"
             href="/api/submission/{{currentSubmission.id}}/kpi/{{kpiData.kpiDataGrantKpiId}}/file/{{doc.id}}">
            {{doc.fileName}}
            <i *ngIf="doc.fileType==='pdf'"
               class="fa fa-file-pdf-o text-rose"></i>
            <i *ngIf="doc.fileType==='jpg'" class="fa fa-file-image-o"></i>
            <i *ngIf="doc.fileType==='jpeg'" class="fa fa-file-image-o"></i>
            <i *ngIf="doc.fileType==='png'" class="fa fa-file-image-o"></i>
            <i *ngIf="doc.fileType==='doc'" class="fa fa-file"></i>
          </a>
          </ng-container>
        </div>
        <label
            *ngIf="kpiData.kpiDataActuals && currentSubmission.actionAuthorities.permissions.includes('MANAGE')"
            for="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">Upload
          new files</label>
        <label class="btn btn-sm btn-secondary text-white"
               *ngIf="!kpiData.kpiDataActuals && currentSubmission.actionAuthorities.permissions.includes('MANAGE')"
               for="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">Upload
          files<i id="spinnerIcon" *ngIf="loading" class="fa fa-spinner fa-spin"></i></label>
        <input style="visibility: hidden"
               id="data_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
               type="file" (change)="docChangeListener($event)" [multiple]="true">
        <input type="hidden"
               id="doc_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">
        <input type="hidden"
               id="file_id_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">
      </div>
      <div class="col-sm-7 col-lg-7">
        <div class="row"
             id="doc_placeholder_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">

        </div>
      </div>

      <div class="col-sm-2 col-lg-2">
        <a data-toggle="modal" data-target="#notesModal"
           [attr.data-whatever]="currentSubmission.id+'_'+kpiData.kpiType+'_'+kpiData.kpiDataId">
          <i title="Notes" *ngIf="kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o text-primary"></i>
          <i title="Notes" *ngIf="!kpiData.kpiDataNote"
             id="icon_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="fa fa-newspaper-o"></i>

          <i class="fa fa-paperclip ml-2" title="Attachments"></i>

        </a>
        <div id="note_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}"
             class="invisible h-0">
        </div>
        <ng-container *ngFor="let note of kpiData.kpiDataNotes">
          <div class="invisible h-0">
            <div
                class="note_history_{{currentSubmission.id}}_{{kpiData.kpiType}}_{{kpiData.kpiDataId}}">
              <ng-container *ngIf="note.postedBy.id === appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-right"><b class="bg-secondary p-1 rounded text-white">Me</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-right mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
              <ng-container *ngIf="note.postedBy.id !== appComp.loggedInUser.id">
                <p class="mr-0 mb-0 text-left"><b class="bg-primary p-1 rounded text-white">{{note.postedBy.firstName + ' '
                + note.postedBy.lastName}}</b><span
                    class="text-light"><small> {{note.postedOn | date:'dd/MM/yyyy' }}</small></span>
                </p>
                <div class=" text-left mx-1 mt-0 mb-1 pt-0  px-2 chat-text"><span>
          {{note.message}}
          </span></div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="noteId" type="hidden" style="height: 0px;"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="holder">
            <div id="chatPlaceHolder">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input class="form-control" id="message-text"
               (keypress)="addNote($event,appComp.loggedInUser)">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveNote()">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

  })
</script>

