<div class="container-fluid text-left mt-5">
  <h3>{{currentGrant.name}}</h3>
  <div *ngIf="quantitativeKpisToSubmit">

    <button class="btn btn-sm btn-success mb-3">{{quantitativeKpisToSubmit[0].kpiAction}}</button>
    <div class="row">
      <div class="col-sm-12 col-lg-6"><b>KPI</b></div>
      <div class="col-sm-12 col-lg-4"><b>Goal/Target</b></div>
      <div class="col-sm-12 col-lg-2"><b>Achieved</b></div>
    </div>
    <div class="row" *ngFor="let kpiData of quantitativeKpisToSubmit">
      <div class="col-sm-12 col-lg-6">{{kpiData.kpiDataTitle}}</div>
      <div class="col-sm-12 col-lg-4">{{kpiData.kpiDataGoal}}</div>
      <div class="col-sm-12 col-lg-2"><input id="data_id_{{kpiData.kpiDataId}}"></div>
    </div>
  </div>
</div>

