<div *ngIf="display">
    <div class="mt-1 mx-2 px-3 py-3" style="background: #f4f4f4;border-radius:2px;">
        <span *ngIf="disabled" matBadge style="position: absolute;right: 30px;top: 25px;font-size: 10px;">Coming soon</span>
        <div style="font-weight: 800;font-size: 24px;color: #0E100E;" class="text-center">{{heading}}</div>
        <hr>
        <div class="text-center" style="font-weight: 800;color: rgba(14, 16, 14, 0.68);font-size: 12px;">{{caption}}
            <ng-container *ngIf="subCaption"> | <small>{{subCaption}}</small></ng-container>
        </div>
    </div>
</div>