<span class="" style="position:absolute; right: 10px; left: auto;top: 10px;" (click)="onNoClick()" (scroll)="redrawOnScroll()"><mat-icon>close</mat-icon></span>

<div #flowContainer id="flowContainer" (scroll)="redrawOnScroll()" class="text-center">

</div>
<div mat-dialog-actions style="position:absolute;bottom:0;vackground:#fff;">
<!--
  <button class="btn text-dark" (click)="onNoClick()">Do it later</button>
-->
  <button *ngIf="canManage" class="btn btn-primary m-0" (click)="onYesClick()">Save Assignments</button>
  <!--<button class="btn btn-primary" (click)="zoomOut()">Zoom Out</button>
  <button class="btn btn-primary" (click)="zoomIn()">Zoom In</button>-->
</div>
