<div class="row anu-container">

  <div class="col-12 bg-white" style="position:sticky;top:60px;z-index:1040;">
    <span class="badge badge-dark text-white pull-right mt-2" matBadgeSize="medium">{{currentGrant.grantStatus.displayName}}</span>
    <h4 class="col-12 text-left pl-4 ml-3 my-3">Grant Details</h4>
    <div class="row">
      <div class="col-12 text-right">
        <button *ngIf="canManage" class="btn btn-sm btn-green float-right" (click)="addNewSection()" >
          <i class="fas fa-plus-square mr-2"></i>Add new Section</button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div #container class="container text-left mt-2 px-5 py-2">

      <div *ngIf="!canManage">
        <div class="row">
          <ng-container *ngFor="let section of currentGrant.grantDetails.sections">
              <div *ngIf="action === getCleanText(section.sectionName)" [disabled]="true">
                <h4 class="text-header-light">
                    {{section.sectionName}}
                  </h4>
                <ng-container *ngFor="let attribute of section.attributes">
                  <ng-container *ngIf="attribute.fieldType==='text' || attribute.fieldType==='multiline'">
                    <b>{{attribute.fieldName}}</b>
                    <div>{{attribute.fieldValue}}</div>
                  </ng-container>
                  <ng-container *ngIf="attribute.fieldType==='kpi'" class="mb-2">
                    <div class="col-sm-12 col-lg-12 text-left mb-3">
                        <div class="row mx-2">
                            <mat-form-field>
                                <input matInput class="col-3" [value]="attribute.fieldName" placeholder="KPI">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput class="col-3" [value]="attribute.target" placeholder="Target/Goal">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput class="col-3" [value]="attribute.frequency" placeholder="Frequency">
                            </mat-form-field>
                        </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="attribute.fieldType=='table'">
                      <div class="col-sm-12 col-lg-12 mb-3">
                          {{attribute.fieldName}}
                          <div id="attribute_{{attribute.id}}" class="mt-1" [innerHtml]="getTabularData(attribute.id,attribute.fieldValue)"></div>
                      </div>

                  </ng-container>
                  <mat-nav-list>
                    <ng-container *ngIf="attribute.fieldType==='document'">
                      <mat-list-item>
                        <ng-container *ngFor="let doc of getDocumentName(attribute.fieldValue)">

                            <span class="ml-3">
                                <ng-container *ngIf="doc.type === 'pdf'">
                                    <i class="fas fa-file-pdf text-danger"></i>
                                </ng-container>
                                <ng-container *ngIf="doc.type === 'xls' || doc.type === 'xlsx'">
                                    <i class="fas fa-file-excel text-success"></i>
                                </ng-container>
                                <ng-container *ngIf="doc.type === 'doc' || doc.type === 'docx'">
                                    <i class="fas fa-file-word text-primary"></i>
                                </ng-container>
                            {{doc.name}}</span>
                        </ng-container>
                      </mat-list-item>

                    </ng-container>
                  </mat-nav-list>
                </ng-container>
              </div>
          </ng-container>
        </div>
        <hr>
      </div>
      <!--MANAGEMENT SECTION-->
      <div *ngIf="canManage">

        <div class="row">
          <div class="col-12">

          <ng-container *ngFor="let section of currentGrant.grantDetails.sections">
              <div *ngIf="action === getCleanText(section.sectionName)">
                
                <div class="row">
                  <div class="col-10">
                    <mat-form-field>
                      <input [(ngModel)]="section.sectionName" [ngModelOptions]="{standAlone:true}"
                                     (ngModelChange)="checkGrant($event)"
                                     matInput placeholder="Section Name" class="anu-input">
                    </mat-form-field>
                  </div>
                  <div class="col-2 text-right" style="display: flex;align-items: center;justify-content: flex-start;">
                    
                    <a class="mr-2 text-gray"
                       (click)="confirm(section.id,0,[],0,'section','Delete section ' + section.sectionName + '?')"><i
                            class="fa fa-trash"></i></a>
                    <a (click)="addNewFieldToSection(section.id,section.sectionName)"
                       class="mr-2 text-gray"><i class="fa fa-plus-square"></i></a>
                  </div>
                </div>
                <hr>
                <div>
                  <ng-container #sectionsContainer *ngFor="let attribute of section.attributes">
                    <div class="row mb-4 mt-2" style="border-left: solid #d4d4d4; box-shadow: 0px 2px 13px #d4d4d4; padding: 20px; background: #f4f4f4;">
                      <ng-container class="mb-2">
                        <div class="col-sm-4 col-lg-8" *ngIf="attribute.fieldType==='multiline'">
                          <mat-form-field>
                            <input id="field_{{attribute.id}}" [(ngModel)]="attribute.fieldName" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"
                                   matInput placeholder="Field Name">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-lg-8" *ngIf="attribute.fieldType==='document'">
                          <mat-form-field>

                            <input id="field_{{attribute.id}}" [(ngModel)]="attribute.fieldName" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"
                                   matInput placeholder="Field Name">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-lg-4" *ngIf="attribute.fieldType==='text'">
                          <mat-form-field>

                            <input id="field_{{attribute.id}}" [(ngModel)]="attribute.fieldName" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"
                                   matInput placeholder="Field Name">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-8 col-lg-8" *ngIf="attribute.fieldType==='table'">
                          <mat-form-field>

                            <input  id="field_{{attribute.id}}" [(ngModel)]="attribute.fieldName" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"
                                   matInput placeholder="Field Name">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-lg-12" *ngIf="attribute.fieldType==='kpi'">
                          <mat-form-field>
                            <input id="field_{{attribute.id}}" [(ngModel)]="attribute.fieldName" required class="anu-input"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"
                                   matInput placeholder="KPI Title">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-lg-4 text-left">
                          <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="attribute.fieldType"  class="anu-input"
                                        [ngModelOptions]="{standAlone:true}" (click)="changeFieldType()" (blur)="selectionClosed()"
                                        (ngModelChange)="handleTypeChange($event,attribute)">
                              <mat-option value="none" aria-selected="true">--Select type
                                of field--
                              </mat-option>
                              <mat-option value="multiline">Descriptive</mat-option>
                              <mat-option value="kpi">Measurement/KPI</mat-option>
                              <mat-option value="table">Tablular</mat-option>
                              <mat-option value="document">Document</mat-option>
                              <!--mat-op
                              <!--mat-op
                              <!--mat-option value="document">Document</mat-option-->
                            </mat-select>

                          </mat-form-field>
                        </div>
                        <mat-icon style="position: relative; left: 99%; top: -108px; font-size: 18px; cursor: pointer;" (click)="confirm(section.id,attribute.id,[],0,'field','Delete field ' + attribute.fieldName + '?')"
                                  aria-hidden="false"
                                  aria-label="Example home icon" inline="true" title="Delete this field">
                          delete_outline
                        </mat-icon>
                        <div class="col-sm-3 col-lg-3 text-left" *ngIf="attribute.fieldType==='text'">
                          <mat-form-field>
                            <input matInput [(ngModel)]="attribute.fieldValue" class="anu-input"
                                   [required]="attribute.deletable?'required':''"
                                   [ngModelOptions]="{standAlone:true}"
                                   placeholder="Field Value"
                                   (ngModelChange)="checkGrant()">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-lg-11 text-left" *ngIf="attribute.fieldType==='table'">
                          <div class="row"><div class="col-12 text-right">
                            <span (click)="addColumn(attribute)" style="cursor:pointer;"><i class="fas fa-plus-circle text-green mr-1"></i>Add a column</span>
                          </div>
                              <div style="margin-left:250px;"><i (click)="moveColsRight()" class="fas fa-arrow-alt-circle-left mr-3"></i><i (click)="moveColsLeft()" class="fas fa-arrow-alt-circle-right"></i></div>
                          </div>
                          <div id="tableArea" class="row flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <table id="tablePlaceholder">
                            <tr>
                              <td width="20%" style="min-width:250px;position: sticky; left: 0; z-index: 1040;background: rgb(244,244,244)">&nbsp;</td>
                            <ng-container *ngFor="let column of attribute.fieldTableValue[0].columns, let i = index">
                              
                                <td style="border: 1px solid #e4e4e4;">
                                  <mat-icon (click)="confirm(section.id,attribute.id,[],i,'col','Delete column?')"
                                            aria-hidden="false" style="top: 18px; position: relative; left: 90%;z-index:2;cursor:pointer;"
                                            aria-label="Example home icon" inline="true" title="Delete this column">
                                    delete_outline
                                  </mat-icon>
                                  <mat-form-field>
                                    <input id="column_{{column.id}}" matInput [(ngModel)]="column.name" class="anu-input"
                                           [ngModelOptions]="{standAlone:true}"
                                           placeholder="Column description" 
                                           (ngModelChange)="checkGrant()">
                                  </mat-form-field>
                                </td>
                              
                            </ng-container>
                            </tr>
                            <ng-container *ngFor="let row of attribute.fieldTableValue, let i = index">
                              <tr>
                                <td width="20%" style="position: sticky; left: 0; z-index: 1040;background: rgb(244,244,244)">
                                  <mat-icon (click)="confirm(section.id,attribute.id,[],i,'row','Delete row?')"
                                            aria-hidden="false" style="top: 18px; position: relative; left: 90%;z-index:2;cursor:pointer;"
                                            aria-label="Example home icon" inline="true" title="Delete this row">
                                    delete_outline
                                  </mat-icon>
                                  <mat-form-field>
                                    <textarea matInput [(ngModel)]="row.name" class="anu-input"
                                           [ngModelOptions]="{standAlone:true}"
                                           placeholder="Row description" 
                                           (ngModelChange)="checkGrant()"></textarea>
                                  </mat-form-field>
                                </td>
                                <ng-container *ngFor="let column of row.columns">
                                  <td style="border: 1px solid #e4e4e4;min-width:200px;padding-top:0;">
                                    <mat-form-field>
                                    <input matInput [(ngModel)]="column.value" class="anu-input"
                                           [ngModelOptions]="{standAlone:true}"
                                           placeholder="Value" 
                                           (ngModelChange)="checkGrant()">
                                  </mat-form-field>
                                  </td>
                                </ng-container>
                              </tr>
                            </ng-container>
                          </table>
                        </div>
                          <div class="row"><div class="col-12">
                            <span (click)="addRow(attribute)" style="cursor:pointer;"><i class="fas fa-plus-circle text-green mr-1"></i>Add a row</span>
                          </div></div>

                        </div>
                        <div class="col-sm-3 col-lg-3 text-left" *ngIf="attribute.fieldType==='kpi'">
                          <mat-form-field>
                            <input matInput [(ngModel)]="attribute.target" class="anu-input"
                                   [required]="attribute.deletable?'required':''"
                                   [ngModelOptions]="{standAlone:true}"
                                   placeholder="Target/Goal"
                                   (ngModelChange)="checkGrant()">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3 col-lg-3 text-left" *ngIf="attribute.fieldType==='kpi'">
                          <mat-form-field>
                            <mat-label>Reporting Frequency</mat-label>
                            <mat-select [(ngModel)]="attribute.frequency"  class="anu-input"
                                        [ngModelOptions]="{standAlone:true}"
                                        (ngModelChange)="checkGrant()">
                              <mat-option value="none" aria-selected="true">--Select type
                                of field--
                              </mat-option>
                              <mat-option value="monthly">Monthly</mat-option>
                              <mat-option value="quarterly">Quarterly</mat-option>
                              <mat-option value="half-yearly">Half Yearly</mat-option>
                              <mat-option value="yearly">Yearly</mat-option>
                            </mat-select>

                          </mat-form-field>
                        </div>
                        <div class="col-sm-7 col-lg-11 text-left" *ngIf="attribute.fieldType==='multiline'">
                          <textarea [(ngModel)]="attribute.fieldValue" class="anu-input h-100 w-100"
                                   [required]="attribute.deletable?'required':''"
                                   [ngModelOptions]="{standAlone:true}"
                                   (ngModelChange)="checkGrant()"></textarea>
                        </div>
                        <div class="col-sm-7 col-lg-11 text-left" *ngIf="attribute.fieldType==='document'">
                                   <form class="example-form">
                                      <mat-form-field class="example-chip-list">
                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                          <!--<mat-chip
                                            *ngFor="let fruit of attribute.docs"
                                            [selectable]="selectable"
                                            [removable]="removable"
                                            (removed)="remove(attribute, fruit)">
                                            {{fruit.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                          </mat-chip>-->
                                          <button class="btn btn-sm btn-blue" [matAutocomplete]="auto">Attach from library</button>
                                          <input id="templateLib_{{attribute.id}}" class="anu-input" style="max-width: 0; height: 0; padding: 0 !important; margin: 0;"
                                            #fruitInput
                                            [formControl]="myControl"
                                            [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur">
                                          <button class="btn btn-sm btn-green">Attach from your device</button>
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected(attribute, $event)">
                                          <ng-container *ngFor="let doc of filteredOptions | async">
                                            <mat-option [value]="doc" [disabled]="checkIfSelected(doc)">
                                              {{doc.name}}
                                            </mat-option>
                                          </ng-container>

                                        </mat-autocomplete>
                                      </mat-form-field>
                                  </form>
                          <mat-nav-list>
                          <ng-container *ngFor="let attachment of attribute.attachments">
                            <mat-list-item>
                              <div><mat-icon (click)="deleteAttachment(attribute.id, attachment.id)"
                                             aria-hidden="false"
                                             aria-label="Example home icon" inline="true" title="Delete this field">
                                delete_outline
                              </mat-icon>
                              </div>

                              <p id="fileAttachment_{{attachment.id}}" mat-line>{{attachment.name + '.' + attachment.type}} <small>(version {{attachment.version}})</small></p>
                              <input id="attriute_{{attribute.id}}_attachment_{{attachment.id}}" mat-list-icon class="attachment-checkbox" type="checkbox" (change)="handleSelection(attribute.id,attachment.id)">
                            </mat-list-item>
                          </ng-container>
                            <mat-list-item *ngIf="attribute.attachments.length >0">

                              <button id="attachments_download_{{attribute.id}}" class="btn btn-sm btn-blue" disabled>
                                Download Selected Files
                              </button>
                            </mat-list-item>
                          </mat-nav-list>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>
          </ng-container>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #editFieldModal class="modal fade" id="editFieldModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <input type="text" id="editFieldIdHolder">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFieldLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="editFieldInput" class="form-control" value="">
      </div>
      <div class="">
        <button type="button" class="btn btn-primary pull-right"
                (click)="saveField()">Okay
        </button>
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div #createFieldModal class="modal fade" id="createFieldModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <input type="text" id="sectionIdHolder">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createFieldLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="fieldTitleInput" class="mat-form-field-label pull-left">Field Name:</label>
          <input id="fieldTitleInput" class="form-control" value="">
        </div>
        <label for="fieldValueInput" class="mat-form-field-label pull-left">Field Type:</label>
        <select id="fieldValueInput" class="form-control">
          <option value="string" selected>Text</option>
          <option value="string">Document</option>
        </select>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary pull-right"
                (click)="addField()">Okay
        </button>
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div #createSectionModal class="modal fade" id="createSectionModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createSectionLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="fieldTitleInput" class="mat-form-field-label pull-left">Section Name:</label>
          <input id="sectionTitleInput" class="form-control" value="">
        </div>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary pull-right"
                (click)="saveSection()">Done
        </button>
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<div #createKpiModal id="createKpiModal" class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createReportingPeriodLabel">Add new KPI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <input matInput id="kpiDescription" #kpiDescriptionElem class="form-control"
                     placeholder="KPI description">
            </mat-form-field>
          </div>
          <div class="col-sm-12 text-left">
            <div id="reporting-data">Select what you want to be reported for this KPI</div>
            <mat-radio-group class="reporting-data-radio-group" aria-labelledby="reporting-data"
                             (change)="setKpiTypeSection($event)">
              <mat-radio-button checked class="reporting-data-radio-button" value="Quantitative">Numbers
                and Metrics
              </mat-radio-button>
              <mat-radio-button class="reporting-data-radio-button" value="Qualitative">Long Responses
              </mat-radio-button>
              <mat-radio-button class="reporting-data-radio-button" value="Document">Document
                Attachments
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-12 text-left" *ngIf="currentKPIType==='Quantitative'">
            <div id="kpi-type">Select the type KPI type</div>
            <mat-radio-group class="reporting-data-radio-group" aria-labelledby="kpi-type"
                             (change)="setKpiReportingTypeSection($event)">
              <mat-radio-button class="reporting-data-radio-button" checked value="activity">Monitoring
                and Evaluation
              </mat-radio-button>
              <mat-radio-button class="reporting-data-radio-button" value="financial">Financial
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary pull-right"
                (click)="saveKpi()">Done
        </button>
        <!--<button type="button" class="btn btn-warning pull-right"
                (click)="saveKpiAndAddNew()">Save & Add New KPI
        </button>-->
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<div #selectScheduleModal id="selectScheduleModal" class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createReportingPeriodLabel">Select Grant Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-select [(ngModel)]="schedule" [ngModelOptions]="{standAlone: true}">
          <mat-option value="1">Monthly</mat-option>
          <mat-option value="3">Quarterly</mat-option>
          <mat-option value="6">Half Yearly</mat-option>
          <mat-option value="12">Yearly</mat-option>
        </mat-select>
      </div>
      <div class="">
        <button type="button" class="btn btn-primary pull-right"
                (click)="saveKpi()">Done
        </button>
        <!--<button type="button" class="btn btn-warning pull-right"
                (click)="saveKpiAndAddNew()">Save & Add New KPI
        </button>-->
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



