<h1 mat-dialog-title>Select a Grant Template</h1>

<div class="grant-template-dialog-class">
	<mat-card *ngFor="let template of templates" value="{{template.id}}" style="background:#E5E5E5;max-width:none;" class="mb-3">
		<mat-card-title style="font-size:14px;">{{template.name}}
			<mat-checkbox class="template-checkbox float-right" [checked]="template.id===selected" (change)="setSelectedTemplate(template.id,$event)"></mat-checkbox>
		</mat-card-title>
		<mat-card-content style="background:#fff;padding:10px;">{{template.description}}</mat-card-content>
	</mat-card>
</div>
<!--<mat-select [(value)]="selected">
	<mat-option  matTooltip="{{template.description}}" matTooltipPosition="right" *ngFor="let template of templates" value="{{template.id}}">{{template.name}}</mat-option>
</mat-select>-->
<hr>
<div mat-dialog-actions>
  <button mat-button mat-flat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onYesClick()">Continue</button>
</div>
