<!-- <div class="row align-items-center"> -->
<div class="container mt--8 pb-5" style="background: #F1F1F4;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0 d-xl-flex justify-content-center">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="card-img-top">
            <img [src]="appComponent.appConfig.logoUrl" alt="logo">
            <p class="mt-4" style="font-size: 14px;">Grant management simplified.</p>
          </div>
          <form id="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <!-- <label for="emailId">Email Id</label> -->
              <div class="my-2">
                <input required type="text" class="form-control form-control-sm" id="emailId" data-html="true"
                       placeholder="Email Address" formControlName="emailId" autocomplete="current-password" (focus)="showPopover('hello')">

              </div>

              <!-- <label for="password">Password</label> -->
              <div class="input-group input-group-alternative form-group-email">
                <input type="password" class="form-control form-control-sm" id="password"
                       placeholder="Password" formControlName="password" required="true">

              </div>


            <button id="btn-signin" class="btn anu-btn w-100 mx-0 mt-3" style="background: #4DC252" type="submit" [disabled]="!loginForm.valid">
              Sign In
            </button>
          </form>
          <hr>
          <div class="row">
            <div class="col-4" style="display: flex;align-items: center;justify-content: flex-end;">Or signin with</div>
            <div class="col-4 text-left pr-0">
              <button class="btn btn-sm btn-google m-0" (click)="signInWithGoogle()">
                <span class="fa fa-google mr-1"></span> Google
              </button>
            </div>
            <div class="col-4 text-left pl-0">
              <button class="btn btn-sm btn-linkedin m-0" disabled (click)="signInWithGoogle()">
                <span class="fa fa-linkedin mr-1"></span> LinkedIn
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center f-12">
        <div class="w-100">Seeking Grants?<a class="ml-2 text-green" (click)="signup()">Sign up!</a></div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    console.log("LOGIN PAGE");
  });
</script>
<!-- </div> -->
