<!-- <div class="row align-items-center"> -->


  <div class="row m-0 h-100" style="background:#F1F1F4;">
    <div class="col-12" style="height: 90px; background: #424652; display: flex; align-items: center;">
      <img [src]="logoURL" alt="logo" class="img-fluid" style="height: 80%; background: #fff; padding: 5px; margin: 5px 3px; border-radius: 2px;">
      <span style="color:#fff; font-weight: 400;font-size: 25px;">{{orgName}}
      </span>
    </div>
    <div class="col-lg-7 col-md-12">
      <img src="./assets/img/landing.svg">
    </div>
    <div class="col-lg-5 col-md-12">
      <div style="display:flex;align-items:center;justify-content:center;">

        <div class="card-body mx-lg-5 mt-lg-5 bg-white">
          <form id="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- <label for="emailId">Email Id</label> -->
            <div class="my-2">
              <input required type="text" class="form-control form-control-sm anu-input mb-3" id="emailId" data-html="true" [value]="currentEmail" (disabled)="currentEmail!==''"
                     placeholder="Email Address" formControlName="emailId" autocomplete="current-password" (focus)="showPopover('hello')">

            </div>

            <!-- <label for="password">Password</label> -->
            <div class="input-group input-group-alternative form-group-email">

              <input class="form-control form-control-sm mb-4 anu-input" id="password"
                     placeholder="Password" formControlName="password" required="true" [type]="showPassword ? 'text' : 'password'">
              <img (click)="togglePassword('hide')" *ngIf="showPassword" src="./assets/img/off.svg" style="position: absolute; right: 10px; top: 2px;">
              <img (click)="togglePassword('show')" *ngIf="!showPassword" src="./assets/img/on.svg" style="position: absolute; right: 10px; top: 2px;">

            </div>
            <re-captcha *ngIf="loginForm.valid" (resolved)="resolved($event)" type="image" siteKey="6Lf5a8MUAAAAAKqjna6CP8EZ0kFHs3F261hT29oq"></re-captcha>
            <button  id="btn-signin" class="btn anu-btn w-100 mx-0 mt-3" style="background: #4DC252" type="submit" [disabled]="!(loginForm.valid && reCaptchaResolved)" >
              Sign In
            </button>
          </form>
          <hr>
          <div class="row">
            <div class="col-4" style="display: flex;align-items: center;justify-content: flex-end;">Or sign in with</div>
            <div class="col-4 text-left pr-0">
              <button class="btn btn-sm btn-google m-0" (click)="signInWithGoogle()">
                <span class="fa fa-google mr-1"></span> Google
              </button>
            </div>
            <div class="col-4 text-left pl-0">
              <button class="btn btn-sm btn-linkedin m-0" disabled (click)="signInWithGoogle()">
                <span class="fa fa-linkedin mr-1"></span> LinkedIn
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center f-12">
        <div class="w-100"><p style="color:#7d7d7d;font-size: 16px;"><small class="ml-4">Powered by Social Alpha <img src="./assets/img/avatar.png" alt="logo" class="img-fluid" style="width: 32px; padding: 5px; margin: 5px 0px; border-radius: 2px;"></small></p></div>
      </div>
    </div>
  </div>
<script>
  $(document).ready(function () {
    console.log("LOGIN PAGE");
  });
</script>
<!-- </div> -->
