<div class="main-content">
  <div class="container-fluid">
    <div class="anu-container" style="padding:40px;">
      <div class="row">
        <div class="col-12">
          <div *ngIf="!approvedReports">
              <img src="./assets/img/loader.gif" style="width:10%;">
              <p style="color: black" > Loading approved reports... </p>
          </div>
          <div *ngIf="approvedReports && approvedReports.length===0">
            <p style="color: black" > No reports found </p>
          </div>
          <div class="row w-100 p-3 mb-2 mx-0 grants-section"
               style="border-bottom:1px solid #d4d4d4 ;cursor: pointer;"
               *ngFor="let report of approvedReports; let i = index" (click)="manageReport(report)">
            <div class="col-12 mb-1">
              <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(report.grant.grantTypeId)}" ><small>{{getGrantTypeName(report.grant.grantTypeId)}}</small></span>
              <p class="text-subheader text-left mb-0">Grant Name: <b>{{(report.grant.referenceNo?report.grant.referenceNo+' | ':'') + report.grant.name}}</b> &nbsp;&nbsp;|&nbsp;&nbsp;
              Implementing Organization: <b>{{report.grant.organization?report.grant.organization.name:''}}</b><br>
              Grant Amount: <img src="./assets/img/rupee.png" style="width:9px;"><b>{{getFormattedGrantAmount(report.grant.amount)}} </b>
              &nbsp;&nbsp;&nbsp;<span>{{getGrantAmountInWords(report.grant.amount)}}</span>
            </p>
            </div>
            <div class="col-10">
              <p class="text-header text-left">{{report.name}} | {{report.dueDate | date:'dd-MMM-yyyy'}}</p>
            </div>
            <div class="col-2">
              <span [class]="'badge pull-right state-' + report.status.internalStatus.toLowerCase()" style="color:#000 !important;">{{report.status.displayName}}</span>
            </div>

            <div class="col-12 p-3" style="background:#f1f1f1">
              <div class="row mb-0">
                <div class="col-2"><p class="mb-0 text-subheader text-left">Report Type:</p>
                </div>
                <div class="col-7"><p class="mb-0 text-subheader text-left">Reporting Time
                  Frame:</p></div>
                <div class="col-3"><p class="mb-0 text-subheader text-left">Submission Due
                  Date</p></div>
              </div>
              <div class="row">
                <div class="col-2"><p class=" text-left text-bold-highlight my-0">
                  {{report.type==='adhoc'?'Ad hoc':report.type}}</p></div>
                <div class="col-7">
                  <div class="row">
                    <div>
                      <p class="text-bold-highlight my-0">
                        <mat-icon [inline]="true" class="mr-1">calendar_today
                        </mat-icon>
                        {{report.startDate |
                        date:'dd-MMM-yyyy'}}
                      </p>
                    </div>
                    <div>
                      <mat-icon [inline]="true" class="mx-3 my-0">arrow_forward
                      </mat-icon>
                    </div>
                    <div>
                      <p class="text-bold-highlight my-0">
                        <mat-icon [inline]="true" class="mr-1">calendar_today
                        </mat-icon>
                        {{report.endDate |
                        date:'dd-MMM-yyyy'}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-3"><p class="text-left text-bold-highlight my-0">
                  {{report.dueDate | date:'dd-MMM-yyyy'}}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
