<!-- <div class="row align-items-center"> -->


<div class="row m-0 h-100" style="background:#F1F1F4;">
    <div class="col-12" style="height: 90px; background: #424652; display: flex; align-items: center;">
        <img [src]="logoURL" alt="logo" class="img-fluid" style="height: 80%; background: #fff; padding: 5px; margin: 5px 3px; border-radius: 2px;">
        <span style="color:#fff; font-weight: 400;font-size: 25px;">{{orgName}}
      </span>
    </div>
  <div class="col-lg-7 col-md-12">
    <img src="./assets/img/landing.svg">
  </div>
  <div class="col-lg-5 col-md-12">
    <div *ngIf="sentStatus==='notsent'" style="display:flex;align-items:center;justify-content:center;">

      <div class="card-body mx-lg-5 mt-5 bg-white">
          <div class="text-header text-left">Set New Password for {{currentEmail}}</div>

          <!-- <label for="emailId">Email Id</label> -->
          <div class="my-2">
              <p *ngIf="hasError" class="m-0 text-danger text-left">{{errorMessage}}</p>
              <form id="formLogin" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                  <input [matTooltipClass]="'tooltip-class'" matTooltip="Password must contain:&#13;- At least one digit,&#13;- One lowercase character,&#13;- One uppercase character,&#13;- One special symbols in the list @#$%, and &#13;- between 6-20 characters" matTooltipPosition="left" required type="password" class="form-control form-control-sm anu-input mb-3" id="pwd1" data-html="true"  (disabled)="newPwd1!==''"
                         placeholder="New Password" formControlName="pwd1" autocomplete="current-password">
                  <input [matTooltipClass]="'tooltip-class'" matTooltip="Password must contain:&#13;- At least one digit,&#13;- One lowercase character,&#13;- One uppercase character,&#13;- One special symbols in the list @#$%, and &#13;- between 6-20 characters" matTooltipPosition="left" required type="password" class="form-control form-control-sm anu-input mb-3" id="pwd2" data-html="true"  (disabled)="newPwd2!==''"
                         placeholder="Re-enter New Password" formControlName="pwd2" autocomplete="new-password">
              </form>
          </div>

          <re-captcha *ngIf="changePasswordForm.valid" (resolved)="resolved($event)" type="image" siteKey="6LdUFvYUAAAAADIq0DlLpSJgrbuCKtR7H7FcpnFn"></re-captcha>
          <div style="display:flex;flex-direction:row;align-items:center;" class="mt-3">
          <button [disabled]="!(changePasswordForm.valid && reCaptchaResolved && passwordsMatch)" class="btn anu-btn m-0" type="submit" (click)="submit()" style="background: #4DC252 !important;">Confirm Password Change
          </button>
          <a class="ml-4 text-subheader" (click)="goBackToLogin()" style="text-decoration:underline;">Back to login</a>
          </div>
      </div>
    </div>
      <div *ngIf="sentStatus==='sending'" class="card-body mx-lg-5 mt-5 bg-white" style="min-height: 227px; display: flex; align-items: center; flex-direction: column; justify-content: center;">
          <img src="./assets/img/loader.gif" style="width:10%;">
          Validating Request
      </div>
      <div *ngIf="sentStatus==='sent'" class="card-body mx-lg-5 mt-5 bg-white" style="min-height: 227px; display: flex; align-items: center; flex-direction: column; justify-content: center;">
            {{sentEmailStatusMessage}}
            Please Sign back in.
          <button class='btn anu-btn mt-4' (click)="goBackToLogin()" style="background: #4DC252 !important;">Back to Sign In</button>
      </div>

      <div class="text-center f-12">
          <div class="w-100"><p style="color:#7d7d7d;font-size: 16px;"><small class="">Powered by Social Alpha <img src="./assets/img/avatar.png" alt="logo" class="img-fluid" style="width: 32px; padding: 5px; margin: 5px 0 0 0px; border-radius: 2px;">
              <p style="color:#7d7d7d;font-size: 16px;"><small class="">{{appComponent.releaseVersion}}</small></p></small></p></div>
      </div>
</div>
</div>