<div class="main-content">
  <div class="container-fluid">
    <div class="row"  style="position: absolute; top: 80px; width: 100%;min-height:82px; padding: 0 27px;z-index: 2; background: rgb(229, 229, 229);">
      <div class="col-9" style="z-index: 2; min-width: 280px;display: flex;align-items: center;justify-content: center;">
        <app-search-filter #appSearchFilter *ngIf="!searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)"></app-search-filter>
        <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-right p-0">
        <button
          *ngIf="
            appComponent.loggedInUser.organization.organizationType ===
            'GRANTER'
          "
          class="btn btn-sm btn-green float-right"
          (click)="showOwnedActiveGrants()"
        >
          Create New Disbursement Request
        </button>
      </div>
    </div>

    <div class="row" style="margin-top: 40px;">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <div *ngIf="!disbursements">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading Disbursements...</p>
          </div>

          <div *ngIf="disbursements && disbursements.length === 0">
            <h5 class="mt-5">
              No Draft/In-progress Approval Requests were found
            </h5>
          </div>
          <div *ngIf="disbursements && disbursements.length > 0">
            <div
              [ngClass]="uiService.getCardStyle(disbursement.canManage)"
              style="cursor: pointer"
              *ngFor="let disbursement of filteredDisbursements; let i = index"
              (click)="manageDisbursement(disbursement)"
            >
              <div class="col-10 mb-1 search-context">
                <p
                  *ngIf="disbursement.disabledByAmendment"
                  class="mb-0 text-red text-left"
                  style="font-weight: 600; font-size: 12px"
                >
                  Underlying grant has been amended. Please check if this
                  disbursement is still valid
                </p>
                <span class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(disbursement.grant.grantTypeId)}" ><small>{{getGrantTypeName(disbursement.grant.grantTypeId)}}</small></span>
                
                <p class="text-subheader text-left mb-0">
                  Grant Name:
                  <b>{{
                    (disbursement.grant.referenceNo
                      ? disbursement.grant.referenceNo + " | "
                      : "") + disbursement.grant.name
                  }}</b>
                  <br>Implementing Organization:
                <b *ngIf="isExternalGrant(disbursement.grant)">{{
                  disbursement.grant.organization
                    ? disbursement.grant.organization.name
                    : ""
                }}</b> 
                <b *ngIf="!isExternalGrant(disbursement.grant)">{{
                  disbursement.grant.grantorOrganization.name
                }}</b>
                  <br />
                  Grant Amount:
                  <b
                    >{{
                      currencyService.getFormattedAmount(
                        disbursement.grant.amount
                      )
                    }}
                  </b>
                  &nbsp;&nbsp;<span>{{
                    currencyService.getAmountInWords(disbursement.grant.amount)
                  }}</span>
                </p>
              </div>
              <div class="col-2">
                <span
                  [class]="
                    'badge state-' +
                    disbursement.status.internalStatus.toLowerCase()
                  "
                  style="color: #000 !important"
                  >{{ disbursement.status.displayName }}</span
                >
              </div>
              <div
                class="col-10 text-left pt-3"
                (click)="manageDisbursement(disbursement)"
              >
                <p class="text-subheader mb-0">Requested Amount:</p>
                <p class="text-header text-left m-0">
                  <span class="search-context">
                  {{
                    currencyService.getFormattedAmount(
                      disbursement.requestedAmount
                    )
                  }}</span>
                  <span class="text-subheader ml-3">
                    {{
                      currencyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</span
                  >
                </p>
              </div>
              <div
                class="col-2"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <button
                  *ngIf="
                    disbursement.canManage &&
                    disbursement.status.internalStatus === 'DRAFT'
                  "
                  class="btn btn-sm btn-red mx-0"
                  (click)="deleteDisbursement(disbursement)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
