<!--The content below is only a placeholder and can be replaced.-->
<div class="container  h-100">
  <div class="align-items-center h-100">
    <div class="w-100 h-100" style="text-align:center">
      <!-- Login Form Here -->
      <div class="w-100 h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>