<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER'"
                        class="btn btn-sm btn-green float-right"
                        (click)="createGrant()">New Grant
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                    <div *ngIf="!hasTenant">
                        <img src="./assets/img/loader.gif" style="width:10%;">
                        <p style="color: black" > Loading grants... </p>
                    </div>

                    <div *ngIf="hasTenant">



                                <div class="row w-100 p-3 mb-2 mx-0 grants-section" style="border-bottom:1px solid #d4d4d4 ;cursor: pointer;" *ngFor="let grant of grantsDraft; let i = index">
                                    

                                    <div class="col-8 text-left" (click)="manageGrant(grant)">
                                        
                                        <p class="text-header">{{grant.name}}</p>
                                        <p class="mb-0">₹ <span class="text-header">{{getFormattedGrantAmount(grant.amount)}}</span></p>
                                        <p class="text-subheader"> {{getGrantAmountInWords(grant.amount)}}</p>
                                        <div class="row">
                                            <div class="col-6 text-subheader">
                                                {{grant.organization?grant.organization.name:null}}
                                            </div>
                                            <div class="col-6 text-subheader">
                                                <p><mat-icon [inline]="true" class="mr-1">calendar_today</mat-icon>{{grant.startDate | date:'dd-MMM-yyyy'}}
                                                <mat-icon [inline]="true" class="mx-2">keyboard_arrow_right</mat-icon>
                                                <mat-icon [inline]="true" class="mr-1">calendar_today</mat-icon>{{grant.endDate | date:'dd-MMM-yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="row w-100 text-right">
                                            <div class="col-12"><span [class]="'badge text-white pull-right state-' + grant.grantStatus.internalStatus.toLowerCase()" style="color:#000 !important;">{{grant.grantStatus.displayName}}</span></div>
                                            <!--div class="col-12"><small>Assigned to
                                            <ng-container class="col-12" *ngFor="let assignment of grant.currentAssignment">
                                                <ng-container *ngIf="appComponent.loggedInUser.id===assignment.user.id">me</ng-container>
                                                <ng-container *ngIf="appComponent.loggedInUser.id!==assignment.user.id">{{assignment.user.firstName}} {{assignment.user.lastName}}</ng-container>
                                            </ng-container>
                                            </small></div-->
                                        </div>
                                        <div class="col-12 h-100" style="display: flex; align-items: center; justify-content: flex-end;">
                                        <button *ngIf="grant.canManage && grant.grantStatus.internalStatus==='DRAFT'"
                                                class="btn btn-sm btn-red"
                                                (click)="deleteGrant(grant)">Delete Grant
                                        </button>
                                        </div>
                                    </div>
                                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
