<div class="row mt-0 mx-0 py-4">

  <div class="col-9">
    <h5 style="font-weight:bold;">Upload Document</h5>
  </div>
  <div class="col-12">
    <div class="row" style="background:#f6f6f6;">
      <div class="col-6" style="display: flex;align-items: center;">
        <button class="btn btn-sm btn-green w-100" disabled>
          <img src="./assets/img/library.svg" class="w-10 mr-2" style="width: 24px;" />Browse from library
        </button>
      </div>
      <div class="col-6" style="display: flex;align-items: center;">
        <label for="uploadFile" class="btn btn-sm btn-green w-100"><img src="./assets/img/computer.svg"
            class="w-10 mr-2" style="width: 24px;" />Browse from system</label>
        <input #uploadFile id="uploadFile" type="file" style="height: 0;width:0; visibility: hidden;"
          (change)="processSelectedFile($event)" accept=".pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx" />
      </div>
    </div>

  </div>
  <div class="col-12">
    <hr />
  </div>
  <div class="col-12">
    <h5 style="font-weight:bold;">Manage Library Documents</h5>
  </div>
  <div class="col-12">
    <mat-nav-list style="background:#fff;">
      <ng-container id="doc_{{doc.id}}" *ngFor="let doc of docs" style="min-height:48px;height:auto;padding:8px;">
        <mat-list-item>
          <p id="fileAttachment_{{ doc.id }}" mat-line style="
              border-bottom: 1px solid #d4d4d4;
              padding-left: 0;
            ">
            {{ doc.name}}
          </p>
          <input id="attachment_{{doc.id}}" mat-list-icon class="attachment-checkbox" type="checkbox" (change)="
              handleSelection(doc)
            " />
        </mat-list-item>
      </ng-container>

      <mat-list-item *ngIf="docs">
        <button id="attachments_download" class="btn btn-sm btn-blue" disabled (click)="downloadSelection()">
          <mat-icon style="cursor: pointer;top: 5px; font-size: 13px; margin-right: 3px;">
            system_update_alt
          </mat-icon>
          Download Selected Documents
        </button>

        <button id="attachments_delete" class="btn btn-sm btn-blue ml-4" disabled (click)="deleteSelection()">
          <img src="./assets/img/trash.svg"
            style="width: 16px; opacity: 1; position: absolute; left: 0; margin-left: 5px; top: 5px;" />Delete
          Selected Documents
        </button>
      </mat-list-item>

    </mat-nav-list>
  </div>
</div>