<div *ngIf="display">

    <div class="row">
        <div class="col-9">
            <div style="min-width:200px;font-weight: 800;font-size: 24px;color: #0E100E;">{{name}}</div>
        </div>
        <div class="col-3">
            <mat-select class="anu-input" [(value)]="selected.name">
                <mat-option *ngFor="let filter of data" [value]="filter.name">{{filter.name}}</mat-option>
            </mat-select>
        </div>
        <div class="col-3">
            <app-summary-centered [display]="false" [data]="portfolioData"></app-summary-centered>
        </div>
        <div class="col-9">
            <app-progress-summary [display]="false" [data]="portfolioProgessData"></app-progress-summary>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-chart-summary [display]="false" [data]="portfolioDetailData"></app-chart-summary>
        </div>
    </div>
</div>