<div class="sidebar-wrapper h-100">
    <ul class="nav h-100">
        <li *ngIf="isMobileMenu()" class="p-1 nav-item">

            <ng-container *ngIf="appComponent.notifications.length>0">
                <i id="messageIcon" class="material-icons float-right text-danger" (click)="showMessages()">notifications</i>
            </ng-container>
            <ng-container *ngIf="appComponent.notifications.length===0">
                <i id="messageIcon" class="material-icons float-right">notifications_none</i>
            </ng-container>
            <img [src]="appComponent.appConfig.logoUrl" alt="logo">
            <a class="nav-link" (click)="showProfile()">
                <p class="text-white font-weight-bolder">{{appComponent.loggedInUser.lastName}}
                    , {{appComponent.loggedInUser.firstName}}</p>
                <ng-container *ngFor="let userRole of appComponent.loggedInUser.userRoles; let i = index">
                    <span class="text-white">{{userRole.role.name}}
                        <ng-container *ngIf="i!=appComponent.loggedInUser.userRoles.length-1">, </ng-container></span>
                </ng-container>
            </a>

        </li>
        <ng-container *ngIf="appComponent.currentView === 'grants'">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems"
            class="{{menuItem.class}} nav-item text-left">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        </ng-container>
         
        
        <ng-container *ngIf="appComponent.currentView === 'grant'">
            <li routerLinkActive="active" *ngFor="let menuItem of grantMenuItems"
                class="{{menuItem.class}} nav-item text-left">
                <ng-container *ngIf="menuItem.title !== 'Grant Specific'">
                    <a class="nav-link" [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </ng-container>
            
                <ng-container *ngIf="menuItem.title === 'Grant Specific'">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="buildSectionsSideNav()">
                          <mat-panel-title >
                            <i class="material-icons">list</i>Grant Specific
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <li routerLinkActive="active" *ngFor="let menuItem1 of sectionMenuItems" class="{{menuItem1.class}} nav-item text-left">
                            <a class="nav-link" [routerLink]="[menuItem1.path]">
                                <i class="material-icons">{{menuItem1.icon}}</i>
                                <p>{{menuItem1.title}}</p>
                            </a>
                    </li>
                    </mat-expansion-panel>
                </ng-container>
            </li>
        </ng-container>

        <ng-container *ngIf="appComponent.currentView === 'grant'">
        
        </ng-container> 
        <!--<li class="nav-item">
            <a class="nav-link">
                <p>Administration</p>
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let adminMenuItem of adminMenuItems"
                        class="{{adminMenuItem.class}} nav-item">
                        <a class="nav-link" [routerLink]="[adminMenuItem.path]">
                            <i class="material-icons">{{adminMenuItem.icon}}</i>
                            <p>{{adminMenuItem.title}}</p>
                        </a>
                    </li>
                </ul>
            </a>
        </li>-->

        <li class="nav-item" *ngIf="appComponent.loggedInUser && isMobileMenu()">
            <a class="nav-link text-left" (click)="appComponent.logout()">
                <i class="material-icons">exit_to_app</i>
                <p>Logout</p>
            </a>
        </li>

    </ul>
    <hr>
    <div #messagepopover id="messagepopover" style="display:hidden;">
</div>
</div>


