.mat-expansion-panel{
	color: #fff !important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    background: transparent;
}

.mat-expansion-panel-header-title{
	color: #fff;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
	box-shadow: none;
}

.mat-expansion-panel-body {
   padding: 0 !important;
}