<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <h3>Grants</h3>

          <div *ngIf="currentTenant">
            <div class="mt-4">


              <a class="card"
                   *ngFor="let grant of currentTenant.grants; let i = index"
                   (click)="manageGrant(grant)" style="width: 18rem;">

                <div class="row no-gutters">
                  <div class="w-100 m-2 text-center">
                    <img [src]="'api/public/images/'+grant.grantorOrganization.imageName"
                         class="img-fluid" alt="org logo">
                  </div>
                  <div class="col">
                    <div class="card-block px-2 py-2">
                      <div class="card-title text-center"><strong>{{grant.name}}</strong></div>
                      <p class="text-center"><span class="badge badge-success ">{{grant.grantStatus.displayName}}</span>/<span class="badge badge-dark text-white ">{{grant.substatus.displayName}}</span></p>

                      <div class="row">
                        <div class="col-sm-12 col-lg-12 text-center">
                          Grant Period
                        </div>
                      </div>
                      <p class="text-center"><strong
                          class="font-weight-bolder">{{grant.startDate | date}}</strong> to <strong
                          class="font-weight-bolder">{{grant.endDate | date}}</strong></p>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12 col-lg-12 text-center">
                          <div *ngIf="hasKpisToSubmit">Upcoming submissions for {{kpiSubmissionTitle}}.</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 text-center">
                          Due date <div class="badge badge-danger">{{kpiSubmissionDate | date}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
