<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ng-container *ngIf="appComponent.grantTypes && appComponent.grantTypes.length>0">
          <button
          *ngIf="
            appComponent.loggedInUser.organization.organizationType ===
            'GRANTER'
          "
          class="btn btn-sm btn-green float-right"
          (click)="createGrant()"
        >
          New Grant
        </button>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <div *ngIf="!hasTenant">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading grants...</p>
          </div>

          <div *ngIf="hasTenant">
            <div
              [ngClass]="
                grant.currentAssignment ===
                appComponent.loggedInUser.id
                  ? [
                      'row',
                      'w-100',
                      'p-3',
                      'mb-2',
                      'mx-0',
                      'grants-section owner-highlight'
                    ]
                  : ['row', 'w-100', 'p-3', 'mb-2', 'mx-0', 'grants-section']
              "
              style="border-radius: 8px; cursor: pointer"
              *ngFor="let grant of grantsActive; let i = index"
              (click)="manageGrant(grant)"
            >
              <div class="col-10 text-left">
                <i *ngIf="grant.grantTags.length===1" class="fas fa-tag fa-xs ml-2 grant-tags"></i>
                <i *ngIf="grant.grantTags.length>1" class="fas fa-tags fa-xs ml-2 grant-tags"></i>
                <p
                  class="text-header mb-1"
                  *ngIf="!grant.referenceNo"
                  style="font-size: 18px"
                >
                  {{ grant.name }}
                  <span
                    class="text-red ml-3"
                    *ngIf="
                      grant.grantStatus.internalStatus === 'ACTIVE' &&
                      grant.amendGrantId
                    "
                  >
                    <small>Amendment in-progress</small>
                  </span>
                </p>
                <p
                  class="text-header mb-1"
                  *ngIf="grant.referenceNo"
                  style="font-size: 18px"
                >
                  {{ grant.referenceNo }} | <b>{{ grant.name }}</b>
                </p>
                <span *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId)}" ><small>{{getGrantTypeName(grant.grantTypeId)}}</small></span>
              </div>
              <div class="col-2 text-right">
                <div>
                  <span
                    [class]="
                      'badge text-white state-' +
                      grant.grantStatus.internalStatus.toLowerCase()
                    "
                    style="color: #000 !important"
                    >{{ grant.grantStatus.displayName }}</span
                  >
                </div>
              </div>
              <div class="col-12 text-left mb-2">
                <div class="text-subheader">
                </div><div class="text-subheader mb-2" *ngIf="isExternalGrant(grant)">
                  {{ grant.organization ? grant.organization.name : null }}
                </div>
                <div class="text-subheader mb-2" *ngIf="!isExternalGrant(grant)">
                  {{ grant.grantorOrganization.name }}
                </div>
              </div>
              <div
                class="col-6 text-left"
                style="border-right: 1px solid #d4d4d4"
              >
                <div class="row">
                  <div class="col-12">
                    <p class="mb-0">
                      ₹
                      <span class="text-header mr-4">{{
                        getFormattedGrantAmount(grant.amount)
                      }}</span>
                      <small class="mb-0">{{
                        getGrantAmountInWords(grant.amount)
                      }}</small>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6 text-left">
                <div class="row">
                  <div class="col-12">
                    <p class="mb-0 text-subheader">
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.startDate | date: "dd-MMM-yyyy" }}
                      <mat-icon [inline]="true" class="mx-2"
                        >keyboard_arrow_right</mat-icon
                      >
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.endDate | date: "dd-MMM-yyyy" }}
                      <small class="ml-2"
                        >({{ data.getDateDuration(grant) }})</small
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2 text-left">
                <div class="row">
                  <div
                    class="col-6 text-subheader"
                    style="border-right: 1px solid #d4d4d4"
                  >
                    Disbursed <small>(till date)</small>:<strong>
                      {{
                        grant.approvedDisbursementsTotal === 0
                          ? "none"
                          : currencyService.getFormattedAmount(
                              grant.approvedDisbursementsTotal
                            )
                      }}</strong
                    >
                    <small
                      class="ml-2"
                      *ngIf="grant.approvedDisbursementsTotal > 0"
                      >{{
                        currencyService.getAmountInWords(
                          grant.approvedDisbursementsTotal
                        )
                      }}</small
                    >
                  </div>
                  <div class="col-6 text-subheader" style=" ;">
                    Project Documents:<strong>
                      {{
                        grant.projectDocumentsCount === 0
                          ? "none"
                          : grant.projectDocumentsCount
                      }}</strong
                    >
                  </div>
                </div>
              </div>

              <div
                class="col-2"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                "
              >
                <button
                  *ngIf="
                    grant.canManage &&
                    grant.grantStatus.internalStatus === 'DRAFT'
                  "
                  class="btn btn-sm btn-red mx-0"
                  (click)="deleteGrant(grant)"
                >
                  Delete
                </button>
              </div>
              <div class="col-12 mt-2 text-left">
                <div class="row">
                  <div class="col-6 text-subheader" style="">
                    Approved Reports :<strong>
                      {{
                        grant.approvedReportsForGrant === 0
                          ? "none"
                          : grant.approvedReportsForGrant
                      }}</strong
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
