<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER'"
                        class="btn btn-sm btn-green float-right"
                        (click)="createGrant()">New Grant
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                    <div *ngIf="!hasTenant">
                        <img src="./assets/img/loader.gif" style="width:10%;">
                        <p style="color: black" > Loading grants... </p>
                    </div>

                    <div *ngIf="hasTenant">





                                <div class="row w-100 p-3 mb-2 mx-0 grants-section" style="border-bottom:1px solid #d4d4d4 ;border-radius: 8px;cursor: pointer;" *ngFor="let grant of grantsActive; let i = index"
                                          (click)="manageGrant(grant)">
                                   

                                    <div class="col-8 text-left">
                                        
                                        <p style="font-size: 18px;"><b>{{grant.name}}</b></p>
                                        <p class="mb-0">₹ <span class="text-header">{{getFormattedGrantAmount(grant.amount)}}</span></p>
                                        <p class="text-subheader"> {{getGrantAmountInWords(grant.amount)}}</p>
                                        <div class="row">
                                            <div class="col-6">
                                                <span *ngIf="grant.organization">{{grant.organization?grant.organization.name:null}}</span>
                                            </div>
                                            <div class="col-6 text-left">
                                                <p><mat-icon [inline]="true" class="mr-1">calendar_today</mat-icon>{{grant.startDate | date:'dd-MMM-yyyy'}}
                                                <mat-icon [inline]="true" class="mx-2">keyboard_arrow_right</mat-icon>
                                                <mat-icon [inline]="true" class="mr-1">calendar_today</mat-icon>{{grant.endDate | date:'dd-MMM-yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-dark text-white pull-right mr-5">{{grant.grantStatus.displayName}}</span>
                                    </div>
                                </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
