<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <div *ngIf="!disbursements">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading Disbursements...</p>
          </div>

          <div *ngIf="disbursements && disbursements.length === 0">
            <h5 class="mt-5">No Active Approval Requests were found</h5>
          </div>
          <div *ngIf="disbursements && disbursements.length > 0">
            <div
              [ngClass]="
                disbursement.canRecordActuals
                  ? [
                      'row',
                      'w-100',
                      'p-3',
                      'mb-2',
                      'mx-0',
                      'grants-section',
                      'owner-highlight'
                    ]
                  : ['row', 'w-100', 'p-3', 'mb-2', 'mx-0', 'grants-section']
              "
              style="cursor: pointer"
              *ngFor="let disbursement of disbursements; let i = index"
            >
              <div
                class="col-10 mb-1"
                (click)="manageDisbursement(disbursement)"
              >
                <p
                  *ngIf="disbursement.disabledByAmendment"
                  class="mb-0 text-red text-left"
                  style="font-weight: 600; font-size: 12px"
                >
                  Reference Grant has been amended or closed
                </p>
                <span class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(disbursement.grant.grantTypeId)}" ><small>{{getGrantTypeName(disbursement.grant.grantTypeId)}}</small></span>
                                
                  <p class="text-subheader text-left mb-0">
                  Grant Name:
                  <b>{{
                    (disbursement.grant.referenceNo
                      ? disbursement.grant.referenceNo + " | "
                      : "") + disbursement.grant.name
                  }}</b>
                  &nbsp;&nbsp;|&nbsp;&nbsp; Implementing Organization:
                  <b>{{
                    disbursement.grant.organization
                      ? disbursement.grant.organization.name
                      : ""
                  }}</b
                  ><br />
                  Grant Amount:
                  <b
                    >{{
                      currencyService.getFormattedAmount(
                        disbursement.grant.amount
                      )
                    }}
                  </b>
                  &nbsp;&nbsp;<span>{{
                    currencyService.getAmountInWords(disbursement.grant.amount)
                  }}</span>
                </p>
              </div>
              <div class="col-2" (click)="manageDisbursement(disbursement)">
                <span
                  [class]="
                    'badge state-' +
                    disbursement.status.internalStatus.toLowerCase()
                  "
                  style="color: #000 !important"
                  >{{ disbursement.status.displayName }}</span
                >
              </div>
              <div class="col-10 text-left pt-3">
                <p class="text-subheader mb-0">Requested Amount:</p>
                <p class="text-header text-left m-0">
                  {{
                    currencyService.getFormattedAmount(
                      disbursement.requestedAmount
                    )
                  }}
                  <span class="text-subheader ml-3">
                    {{
                      currencyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</span
                  >
                </p>
              </div>
              <div
                *ngIf="
                  (disbursement.canManage &&
                    disbursement.status.internalStatus === 'DRAFT') ||
                  disbursement.disabledByAmendment
                "
                class="col-2"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <button
                  class="btn btn-sm btn-red mx-0"
                  (click)="deleteDisbursement(disbursement)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
