<h4>Notes</h4>
<div #flowContainer id="flowContainer" class="text-left">
  <p class="mb-0 bg-light p-1"><b>{{grant.noteAddedBy.firstName}} {{grant.noteAddedBy.lastName}}</b> <small> ({{grant.noteAdded | date:'dd-MMM-yyyy hh:mm:ss a'}})</small></p>
  <p style="border-bottom:1px solid #d4d4d4;">{{grant.note}}</p>
  <ng-container *ngFor="let item of history">
    <ng-container *ngIf="item.note!==''">
      <p class="mb-0 bg-light p-1"><b>{{item.noteAddedBy.firstName}} {{item.noteAddedBy.lastName}}</b> <small> ({{item.noteAdded | date:'dd-MMM-yyyy hh:mm:ss a'}})</small></p>
      <p style="border-bottom:1px solid #d4d4d4;">{{item.note}}</p>
    </ng-container>
  </ng-container>
</div>

<div mat-dialog-actions>
  <button class="btn btn-light text-dark" (click)="onNoClick()">Close</button>
</div>
