/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
  background-color: #fff;
  font-size: 0.95em;
  -webkit-font-smoothing: subpixel-antialiased;
}

b, strong {
    font-weight: 500;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.sidebar{
    box-shadow: none;
}
.sidebar .nav {
  margin-top: 0;
}

.navbar .navbar-toggler .navbar-toggler-icon{
  background-color: #fff !important;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
}

.submission-header{
  cursor: pointer;
  text-transform: none;
}

.submission-header:hover{
  background-color: #f3F3F3;
}

.submission-title{
  display: flex;
  align-items: center;
}

.nav-header{
  display: flex;
  align-items: center;
}

.form-control{
  border: none;
}

.holder{
  height: 200px;
  overflow-y: scroll;
}

.btn-google{
  background-color: #c23321;
}
.h-0{
  height: 0;
}

.w-0{
  width: 0;
}
.chat-text{
  min-width: 100px;
  border-radius: 4px;
}

.toast-top-center {
  top: 12px;
  left: 50%;
  margin-left: -150px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.float-container {
  border: solid 1px #ccc;
}
.float-container input {
  border: none;
  outline: 0;
}

input[type=date]::-webkit-inner-spin-button { -webkit-appearance: none; display: none; }

.kpi-block::-webkit-scrollbar { width: 0 !important }
.submissions-block::-webkit-scrollbar { width: 0 !important }

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}

mat-sidenav {
  width: 200px;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}
.form-control:focus{
  border-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mat-checkbox-layout{
  margin-bottom: 0;
}

.mat-card{
  color: #323232;
  max-width: 25rem;
}
.cdk-overlay-container{
  z-index: 1060;
}
@media all and (max-width: 240px) {
  .toast-top-center {
    margin-left: -54px;
  }
}
@media all and (min-width: 241px) and (max-width: 320px) {
  .toast-top-center {
    margin-left: -64px;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  .toast-top-center {
    margin-left: -96px;
  }
}

@media (min-width: 6000px) {
  .sidebar .nav {
    margin-top: 100px;
  }


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.anu-container{
  margin: 0px 30px;
  background: #fff;
  border-radius: 4px;
  padding: 0 5px 5px 5px;
}
.anu-input{
  border: 1px solid #d4d4d4 !important;
  border-radius: 4px !important;
  line-height: 165% !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  background: #fff !important;
  min-height: 41px;
}

.anu-input-plain{
  line-height: 165% !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  background: transparent !important;
  min-height: 41px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.mat-form-field{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.mat-form-field-label{
    color: rgba(14, 16, 14, 0.68);
    font-size: 12px !important;
     -webkit-transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px) !important;
     transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px) !important;
}

.mat-form-field-infix {
  width: 120px !important;
}

.badge{
    border-radius: 2px !important;
    min-width: 100px !important;
    padding: 5px !important;
}

.badge-black{
  background-color: #fff !important;
  color: #000 !important;
  font-weight: normal;
}

.mat-form-field-label{
  font-size: 12px !important;
}

.mat-input-element, .mat-form-field-label{
  font-size: 14px !important;
}


.sidebar{
    z-index: 3 !important;
}

.sidebar .sidebar-wrapper{
  background: #424652;
  color: #fff;
}

.sidebar[data-color="danger"] li.active > a{
  background-color: transparent; color: #4DC252; box-shadow: none; font-weight: bold;
}

.sidebar[data-color="danger"] li.active img{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.anu-btn{
  background-color: #4DC252;
  color: #0E100E;
}

.sidebar .nav li.active > a i{
  color: #4DC252;
}



.mat-expansion-panel-body{
  padding: 0 !important;
}

.mat-expansion-indicator::after{
    color: rgba(255,255,255,1) !important;
}


.grant-expansion-panel> .mat-expansion-indicator, .grant-expansion-panel > .mat-expansion-indicator:after {
    color: black !important;
}

.grants-expansion-panel > .mat-expansion-panel-content > .mat-expansion-panel-body{
    background: #fff !important;
    padding: 10px !important;

}

.mat-expansion-panel-content{
    font-weight: 300;
}

.grants-section{
    background: #fff;
    border-radius: 4px;
    border:1px solid #E5E5E5;
}

input:-internal-autofill-selected{
    background-color: #fff !important;
}

.btn-google{
    background-color: #fff !important;
    border: 1px solid #D84830;
    color: #D84830 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-red{
    background-color: #fff !important;
    border: 1px solid #D84830;
    color: #D84830 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-green{
    background-color: transparent !important;
    border: 1px solid #39743C !important;
    color: #39743C !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg-green{
    background-color: #39743C !important;
}

.btn-blue{
    background-color: transparent !important;
    border: 1px solid #3f51b5 !important;
    color: #3f51b5 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-white{
    background-color: #fff !important;
    border: 1px solid #3f51b5 !important;
    color: #343434 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-linkedin{
    background-color: #fff !important;
    border: 1px solid #0A66C2;
    color: #0A66C2 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    border-radius: 4px !important;
}

.f-12{
    font-size: 12px !important;
}



.text-green{
    color: #39743C !important;
}

.text-blue{
    color: #3f51b5 !important;
}
.text-header{
    font-size: 18px !important;
    font-weight: bold;
}

.text-header-light{
    font-size: 18px !important;
    font-weight: bold;
    color: #757575;
}

.text-subheader{
    color: rgba(14, 16, 14, 0.68);
    font-size: 12px;
}

.state-node{
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    text-align: center;
    margin: 0 auto 25px auto !important;
    width: 550px !important;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node-highight {
    border:2px dashed;
}

.state-highlight{
    box-shadow: 2px 2px 4px #C67171;
}

.status-indicator{

    position: absolute;
    font-size: 18px;
    color: #338136;
}

.jtk-connector, .jtl-endpoint{
    z-index: 2000;
}

.connectorLabel{
z-index: 2001;
    background: #454545;
    padding: 0px 4px;
    margin-left:30px;
    font-size: 10px;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    border-radius: 5px;
}

.state-draft{
background:#d4d4d4;
}

.state-active{
background:#4DC252;
}

.state-review{
    background:#ffbf00;
}

.state-closed{
background:#d4d4d4;
}

.attachments-wrapper{
    margin: 0;
}

.attachments-wrapper .mat-form-field-wrapper{
    padding: 0;
}


.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1070;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section-dragging{
    z-index: 1061;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.ng-animating .mat-expansion-panel & {
    min-height: 48px;
  }

  .ng-animating .mat-expansion-panel.mat-expanded & {
    min-height: 64px;
  }

  .ng-animating .mat-expansion-panel:not(.mat-expanded) & {
      height: 0;
      overflow: hidden;
    }


.change-box{
    border:1px solid #d8d8d8 !important;
    padding: 5px;
    background: #404450 !important;
}

.change-title{
    color: #fff;
    font-style: italic;
}

.change-new{
    border-left: 6px solid #009900 !important;
    padding-left: 5px;
    margin-bottom: 5px !important;
    background: #f7fff4 !important;
    padding-bottom: 5px;
}

.change-old{
    border-left: 6px solid #DBDB70 !important;
    padding-left: 5px;
    margin-top: 5px !important;
    background: #fffeed !important;
    padding-bottom: 5px;
}

.change-delete{
    border-left: 6px solid #DC143C !important;
    padding-left: 5px;
    background: #ffeff2 !important;
    padding-bottom: 5px;
}

.section-header{
    font-weight: bold;
    font-size: 28px;
    color: #0E100E;
}

.grant-notes-class{
    min-width: calc(90% - 300px) !important;
    max-width: calc(90% - 300px) !important;
    position: relative !important;
    left: 150px !important;
}

.center-class{
    max-width: calc(90% - 300px) !important;
    position: relative !important;
    left: 150px !important;
}

.notifications-class{
    min-width: calc(80% - 300px) !important;
    max-width: calc(80% - 300px) !important;
    max-height: calc(70%) !important;
    overflow: scroll;
    position: absolute !important;
    right: 36px;
    top: 50px;
}

.notifications-panel{
    margin-top: 0px !important;
}

.wf-assignment-class{
    min-width: calc(100% - 300px) !important;
    max-width: calc(100% - 300px) !important;
    height: 100% !important;
    position: relative !important;
    left: 150px !important;
    overflow: hidden !important;
}

.grant-template-class{
    min-width: calc(75% - 300px) !important;
    max-width: calc(75% - 300px) !important;
    position: relative !important;
    left: 150px !important;
}

.grant-template-dialog-class{
    width: 100% !important;
    position: relative !important;
    max-height: 300px !important;
    overflow: scroll;
}

.mat-tooltip {
    color: #fff !important;
    background-color: #4d4d4d !important;
}
.matTooltipClass{
    white-space: pre-line;
    font-size: 14px;
}

.pageWrapper {
  margin-top: 50px;
}

button {
    padding: 15px;
}

kendo-pdf-export {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
}

.content {
  width: 800px;
  margin: 0 auto;
  line-height: 20px;
}

.pageNum {
      font-family: "DejaVu Sans", "Arial", sans-serif;
      position: absolute;
      bottom: 50px;
    }

.text-bold-highlight{
    font-weight: 500;
    color: #6B6C6B;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow:none !important;
}

.field-class{
    min-width: 300px !important;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 40px;
    right: 32px;
    z-index: 4;
}

.main-panel .main-content{
    margin-top: 0 !important;
}

.sidebar .nav li:hover > a{
    background: none;
    color:#fff;
}

.sidebar .nav li:hover > a > p{
    font-weight: 800 !important;
}

.sidebar .nav li:active > a  p{
    font-weight: 800 !important;
}

.sidebar .nav li.active:hover > a{
    color:#4DC252 !important;
}

.welcome-popup-class{
    background: #fff;
    width: 85% !important;
    height: 90% !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover > .mat-expansion-panel-header-title{
    background: none;
    font-weight: 800 !important;
}
.menu-sidenav-title:hover{
    font-weight: 800 !important;
}

.mat-expanded .mat-expansion-panel-header-title{
    font-weight:800 !important;
}

.mat-tab-label{
    color: #000 !important;
}
.mat-tab-label-active{
    background: #4DC252;
}

.mat-ink-bar{
    visibility: hidden !important;
}

.mat-list-item{
    border: 1px 1px #d4d4d4;
}

.addnl-report-class{
    min-width: calc(100% - 422px) !important;
    max-width: calc(100% - 422px) !important;
    height: 100% !important;
    position: relative !important;
    left: 150px !important;
    overflow: scroll !important;
    top: 53px;
    max-height: calc(100% - 35px);
}

.grant-expansion-panel-notifications .mat-expansion-panel-header-title{
    font-weight: normal !important;
}

.footerLogo{
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 30px;
}

.footer .copyright {
    padding: 5px 0 !important;
}