/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
  background-color: #fff;
  font-size: 0.95em;
  -webkit-font-smoothing: subpixel-antialiased;
}


.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-top: 0;
}

.navbar .navbar-toggler .navbar-toggler-icon{
  background-color: #fff !important;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
}

.submission-header{
  cursor: pointer;
  text-transform: none;
}

.submission-header:hover{
  background-color: #f3F3F3;
}

.submission-title{
  display: flex;
  align-items: center;
}

.nav-header{
  display: flex;
  align-items: center;
}

.form-control{
  border: none;
}

.holder{
  height: 200px;
  overflow-y: scroll;
}

.btn-google{
  background-color: #c23321;
}
.h-0{
  height: 0;
}

.w-0{
  width: 0;
}
.chat-text{
  min-width: 100px;
  border-radius: 4px;
}

.toast-top-center {
  top: 12px;
  left: 50%;
  margin-left: -150px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.float-container {
  border: solid 1px #ccc;
}
.float-container input {
  border: none;
  outline: 0;
}

input[type=date]::-webkit-inner-spin-button { -webkit-appearance: none; display: none; }

.kpi-block::-webkit-scrollbar { width: 0 !important }
.submissions-block::-webkit-scrollbar { width: 0 !important }

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}

mat-sidenav {
  width: 200px;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}
.form-control:focus{
  border-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mat-checkbox-layout{
  margin-bottom: 0;
}

.mat-card{
  color: #323232;
  max-width: 25rem;
}
.cdk-overlay-container{
  z-index: 1040;
}
@media all and (max-width: 240px) {
  .toast-top-center {
    margin-left: -54px;
  }
}
@media all and (min-width: 241px) and (max-width: 320px) {
  .toast-top-center {
    margin-left: -64px;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  .toast-top-center {
    margin-left: -96px;
  }
}

@media (min-width: 6000px) {
  .sidebar .nav {
    margin-top: 100px;
  }


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.anu-container{
  margin: 80px 64px;
  background: #fff;
}
.anu-input{
  border: 1px solid #d4d4d4 !important;
  border-radius: 4px !important;
  line-height: 165% !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  background: #fff !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.mat-form-field{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.mat-form-field-infix {
  width: 120px !important;
}
