<div class="main-content">
  <div class="anu-container pt-2">
    <div class="row m-3">
      <div class="col-12 pl-0 mb-3">
        <h5 class="text-left" style="font-weight:bold;">User Profile</h5>
      </div>
      <div class="col-4 pl-0 text-left">
        <label>Email Id:</label>
        <p class="anu-input" style="background:#f4f4f4;">{{user.emailId}}</p>
      </div>
      <div class="col-4 text-left">
        <label>Roles:</label>
        <p class="anu-input" style="background:#f4f4f4;">
          <ng-container *ngFor="let userRole of user.userRoles; let i = index">
            <span>{{userRole.role.name}}</span>
            <ng-container *ngIf="i<user.userRoles.length-1">, </ng-container>
          </ng-container>
        </p>
      </div>
      <div class="col-4 text-left">
        <label>Organization Name:</label>
        <p class="anu-input" style="background:#f4f4f4;">{{user.organization.name}}</p>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 pl-0">
            <mat-form-field class="example-full-width">
              <input class="anu-input" [ngModelOptions]="{standAlone: true}" [(ngModel)]="user.firstName" id="userFName"
                matInput placeholder="First Name" type="text" value="{{user.firstName}}">
            </mat-form-field>
            <div class="row pl-3">
              <div class="col-12 px-0" style="display: flex;align-items: flex-start;justify-content: flex-start;">
                <button type="submit" class="btn btn-sm btn-green-primary m-0" (click)="updateProfile()">Update
                  Profile
                </button>
                <button class="btn btn-sm btn-green ml-2 my-0" data-toggle="modal" data-target="#changePwdModal">Change
                  Password</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input class="anu-input" [ngModelOptions]="{standAlone: true}" [(ngModel)]="user.lastName" id="userLName"
                matInput placeholder="Last Name" type="text" value="{{user.lastName}}">
            </mat-form-field>
          </div>
          <div class="col-4 text-left">
            <div style="width: 200px;height: 200px;">
              <label for="profilePic" style="cursor: pointer;">
                <img style="max-width: 120px;" *ngIf="user.userProfile!==null" (click)="loadImage()" class="img-fluid"
                  src="{{user.userProfile}}">
              </label>
              <label for="profilePic" style="cursor: pointer;">
                <img style="max-width: 120px;" *ngIf="user.userProfile===undefined || user.userProfile===null"
                  (click)="loadImage()" class="img-fluid" src="./assets/img/avatar.svg" style="width:60%;">
              </label>
              <input id="profilePic" type="file" accept="image/x-png" (change)="processProfilePic($event)"
                style="visibility: hidden;">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changePwdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="example-full-width">
          <div class="row mx-2">
            <div class="col-11">
              <input class="anu-input" id="old_pwd" matInput placeholder="Current Password" type="password">
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <div class="row mx-2">
            <div class="col-11"><input class="anu-input" id="new_pwd" matInput placeholder="New Password"
                type="password" #tooltip="matTooltip" [matTooltipClass]="'tooltip-class'"
                matTooltip="Password must contain:&#13;- At least one digit,&#13;- One lowercase character,&#13;- One uppercase character,&#13;- One special symbols in the list @#$%, and &#13;- between 6-20 characters"
                matTooltipPosition="above"></div>
            <div class="col-1" style="display:flex;align-items:center;">
              <mat-icon (click)="tooltip.show()" [inline]="true" class="mx-2">info_outline</mat-icon>
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <div class="row mx-2">
            <div class="col-11"><input class="anu-input" id="repeat_new_pwd" matInput placeholder="Repeat New Password"
                type="password" #tooltip2="matTooltip" [matTooltipClass]="'tooltip-class'"
                matTooltip="Password must contain:&#13;- At least one digit,&#13;- One lowercase character,&#13;- One uppercase character,&#13;- One special symbols in the list @#$%, and &#13;- between 6-20 characters"
                matTooltipPosition="above"></div>
            <div class="col-1" style="display:flex;align-items:center;">
              <mat-icon (click)="tooltip2.show()" [inline]="true" class="mx-2">info_outline</mat-icon>
            </div>
          </div>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="savePasswordChange()">Save changes</button>
      </div>
    </div>
  </div>
</div>