# This is a basic workflow that is manually triggered

name: Manual workflow


#on: [ push ]
  

jobs:
 
  anudan:

    runs-on: ubuntu-18.04

    steps:
 
    - name: checkout
      uses: actions/checkout@master
    - name: List Files After 
      run:        
        ls
    - name: compile and build
      run: |
        #sudo apt-get update
        #sudo apt-get install nodejs
        #sudo npm install
        #npm audit fix
        #sudo ng build --aot --output-hashing=all --prod


      
